<html>
	<head>
		<title>e-Office Safety e-learning</title>
           	<html lang="en">
		<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
           <meta NAME="keywords" content="e-learning, office safety, health and safety, ergonomics">
           <meta NAME="description" CONTENT="e-Office Safety e-learning program.">
           <meta NAME="Author" content="e-learning wmb Ltd">

		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 3;
var intSection    = 4;
var intPage       = 1;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/grid.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/cell.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
  </script>

  
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body style="BACKGROUND-COLOR: #ffffff">
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1" Summary="Header Information including breadcrumb navigation">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" alt="logo" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"  alt="company logo" alt="logo"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
								<!-- Top Navigation-->
								<script language="javascript">
			<!--
			writeTopMenu();
			//-->
								</script>
								<!-- End of Top Navigation-->
				</div>
<!-- Content Grid -->
<div CLASS="contentgrid">




<!-- TEXT IN THE LEFT -->
<div id="fb0">
<div class="grid1x1">
<div class="cellmedium5x5" >
<a tabindex=10><div class="TextDarkNormal" style="margin-left:20px;margin-right:80; margin-top:20px;">
		Switch to edit mode in the e-CMS to update the text here.<P>Images and Flash objects can be selected to replace those used on this screen. To do this place your mouse in the area and load in either a background or foreground image or a Flash object by selecting the appropriate button on the toolbar.</P>
	</div></a>
<div class="instriconsm" style="top: 10px; left: 293px"><img src="../../image/icons/feedback_icon.gif" alt="Feedback" WIDTH="22" HEIGHT="22"></div>
</div>
</div>
<div class="grid1x6">
<div class="cell5x2">
	<div class="TextDarkNormal" style="margin-left:15px;margin-right:100px; margin-top:12px;">
		<a tabindex=11>Switch to edit mode in the e-CMS to update the text here.</a>
	</div>
	<div class="instriconsm" style="top: 5px; left: 270px"><img src="../../image/icons/mouse_icon.gif" alt="Interaction on page" WIDTH="44" HEIGHT="44"></div>
	<div class="instriconsm" style="top: 55px; left: 240px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=20 onclick="showFeedback(1); functionFlash('flash','Play','');completed = true;" onkeypress="showFeedback(1); functionFlash('flash','Play','');completed = true;" style="cursor: hand"></a></div>	
</div>
</div>
</div>
<!--END TEXT IN THE LEFT -->

<!-- FEEDBACK 1 -->
<div id="fb1" style="display: none">
<div class="grid1x1">
<div class="cellmedium5x7" >
	<a tabindex=200><div class="TextDarkNormal" style="margin-left:25px;margin-right:30px; margin-top:30px;">
		Switch to edit mode in the e-CMS to update the text here.	</div>
	</a>
	<div class="instriconsm" style="top: 10px; left: 293px"><img src="../../image/icons/feedback_icon.gif" alt="Feedback" WIDTH="22" HEIGHT="22"></div>
	<div class="instriconsm" style="top: 265px; left: 250px"><img src="../../image/buttons/back.gif" width="57" height="17" alt="Back else proceed to next question" border="0" tabindex=210 onclick="showFeedback(0); functionFlash('flash','TGotoLabel','\'/\', \'start\'')" onkeypress="showFeedback(0); functionFlash('flash','TGotoLabel','\'/\', \'start\'')" style="cursor: hand"></a></div>
<div class="instriconsm" style="top: 210px; left: 210px;cursor:pointer;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>	
</div>
</div>
</div>
<!-- END FEEDBACK 1-->



<div class="grid6x1"> 
<div class="cell7x7">
	<IMG src="image/3_panels_1_image_next.jpg" border=0></div>
</div>


</div>
<!-- End Content Grid Div -->



				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>

