<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>mnfGenerate</title>

<meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
<script>
var intModule     = 0;
var intSection    = null;
var intPage       = null;
</script>
<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="script/main.js"></script>
<script LANGUAGE="javascript" SRC="script/nav.js"></script>

<style>
textarea{
font-family:Verdana;
font-size:8pt;
}
</style>
<script LANGUAGE="javascript">
<!--
var objNav;

// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
  </script>
<script>

//var objNav
function fillNavigation(){
	gnrtXML.value = "";
//	objNav = new Navigation(0);
	FillXml();
}
var totalres = 0;
var mnfXmlDoc = new ActiveXObject("Msxml.DOMDocument");
mnfXmlDoc.preserveWhiteSpace = false;

function FillXml (){

/*manifest*/
mnfMmanifest = mnfXmlDoc.createElement("manifest");
mnfMmanifest.setAttribute("identifier","MANIFEST01");
mnfMmanifest.setAttribute("xmlns","http://www.imsglobal.org/xsd/imscp_v1p1");
mnfMmanifest.setAttribute("xmlns:imsmd","http://www.imsglobal.org/xsd/imsmd_v1p2");
mnfMmanifest.setAttribute("xmlns:xsi","http://www.w3.org/2001/XMLSchema-instance");
mnfMmanifest.setAttribute("xsi:schemaLocation","http://www.imsglobal.org/xsd/imscp_v1p1 imscp_v1p1p3.xsd http://www.imsglobal.org/xsd/imsmd_v1p2 imsmd_v1p2p2.xsd");

mnfMetadata = mnfXmlDoc.createElement("metadata");
mnfMmanifest.appendChild(mnfMetadata)	;
mnfchema = mnfMetadata.appendChild(mnfXmlDoc.createElement("schema"));
mnfchema.text  = "IMS CONTENT";

mnfschemaversion = mnfMetadata.appendChild(mnfXmlDoc.createElement("schemaversion"));
mnfschemaversion.text  = "1.1";

mnfimsmd_lom =  mnfMetadata.appendChild( mnfXmlDoc.createElement("imsmd:lom") );
mnfimsmd_general =  mnfimsmd_lom.appendChild( mnfXmlDoc.createElement("imsmd:general") );

mnfimsmd_title =  mnfimsmd_general.appendChild( mnfXmlDoc.createElement("imsmd:title") );

mnfimsmd_langstring =  mnfimsmd_title.appendChild( mnfXmlDoc.createElement("imsmd:langstring") );

mnfimsmd_langstring.setAttribute("xml:lang" , "en");
mnfimsmd_langstring.text = "e-Start -  Induction Training";

	/*END manifest*/
	
	/* Organisations*/
	mnfOrganizations = mnfXmlDoc.createElement("organizations");
	mnfOrganizations.setAttribute("default" , "MANIFEST01_ORG1");
	
	mnfOrganization = mnfXmlDoc.createElement("organization");
	mnfOrganization.setAttribute("identifier" , "MANIFEST01_ORG1");
	
	mnfMmanifest.appendChild(mnfOrganizations);
	
	mnfXmlDoc.appendChild(mnfMmanifest);
	
	mnfOrganization = mnfOrganizations.appendChild(mnfOrganization);
		/* END  Organisations*/
	
	/*resources resources*/	
	mnfresources = mnfXmlDoc.createElement("resources");
	/*resources resources*/	
	

	var OrganisID = 0
	var ResorceId = 0 

	
	for (ModID in objNav.arrMenuText){ //Count Modules
		OrganisID++;
		ResorceId++;
			//gnrtXML.value += "RESID = ("+PageIDS+") - "+ "("+totalres+")" + objNav[ModID][0]+ "\n";
		mnfOrganizationItem= mnfAddChild(OrganisID,  ResorceId , objNav.arrMenuText[ModID][0]  );
			
			if(objNav.getSectionCount(ModID) == null) {
					var newResurce = mnfAddResurce(ResorceId ,  ModID ,0,1);
					mnfresources.appendChild(newResurce);
				
			} else {
					var newResurce = mnfAddResurce(ResorceId ,  ModID );
					mnfresources.appendChild(newResurce);

				for (ScId in objNav.arrMenuText[ModID][1]){
						//gnrtXML.value += "RESID = ("+PageIDS+") - "+"("+totalres+") ("+ScId+") " + objNav[ModID][1][ScId][0]+  "\n";
						OrganisID++;
						ResorceId++;
						var newResurce = mnfAddResurce(ResorceId ,  ModID , ScId);
						mnfresources.appendChild(newResurce);
						
						mnfOrganizationItemSection = mnfAddChild(OrganisID ,  ResorceId , objNav.arrMenuText[ModID][1][ScId][0]);
						mnfOrganizationItem.appendChild(mnfOrganizationItemSection);

						for (PID in objNav.arrMenuText[ModID][1][ScId][1]){
								OrganisID++;
								ResorceId++;
								//gnrtXML.value += "RESID = ("+PageIDS+") - "+ "("+totalres+") ("+ScId+") ("+  (parseInt(PID)+1) +")" + objNav[ModID][1][ScId][1][PID] +"\n"
								
								newResurce = mnfAddResurce(ResorceId ,  ModID , ScId ,(parseInt(PID)+1) );
								mnfresources.appendChild(newResurce);
								
								mnfOrganizationItemSubPage = mnfAddChild(OrganisID, ResorceId , objNav.arrMenuText[ModID][1][ScId][1][PID] );
								mnfOrganizationItemSection.appendChild(mnfOrganizationItemSubPage);
								
						}
				}
			}
			mnfOrganization.appendChild(mnfOrganizationItem);
			 
	gnrtXML.value += "\n";
	++totalres;
	}
	
	

	mnfMmanifest.appendChild(mnfresources);
	
	//alert(PageIDS)
	gnrtXML.value= "<?xml version=\"1.0\" ?>";
	gnrtXML.value+=(mnfXmlDoc.xml);
}

function mnfAddChild(OrgID , ResorceId  , ItemTitle  ){
			var mnfOrganizationItem = mnfXmlDoc.createElement("item");
			mnfOrganizationItem.setAttribute("identifier" , "MANIFEST01_ITEM" +OrgID );
			mnfOrganizationItem.setAttribute("identifierref" , "MANIFEST01_RESOURCE" +ResorceId );
			mnfOrganizationItem.setAttribute("isvisible" , "1" );
			mnfOrganizationItem.setAttribute("parameters" , "" );

			var mnfOrganizationItemTitle = mnfXmlDoc.createElement("title");
			mnfOrganizationItemTitle.text = ItemTitle;
			
			mnfOrganizationItem.appendChild(mnfOrganizationItemTitle);
return mnfOrganizationItem;
}

function mnfAddResurce(RSID ,  moduleID , sectionID ,pageID){
	if(pageID <=9){
		pageID = "0" + pageID;
	}

	if(!pageID && !sectionID){
		var fileHREF	= DEFAULTSPATH + "/" + DEFAULTMODULENAME + ".htm?mod="  + moduleID ;
	} else  if(	!pageID && sectionID ){
		var fileHREF	= 	DEFAULTSPATH + "/" + DEFAULTSSECTIONNAME + ".htm?mod=" + moduleID +"&sec=" + sectionID ;
	} else {
		var fileHREF	= "Module" + moduleID + "/Section" + sectionID + "/page" + pageID + ".htm";
	}
	
	var mnfresource = mnfXmlDoc.createElement("resource");
	mnfresource.setAttribute("identifier" , "MANIFEST01_RESOURCE" + RSID);
	mnfresource.setAttribute("type" , "webcontent");
	mnfresource.setAttribute("href" , fileHREF);

	var mnfresourceFile = mnfXmlDoc.createElement("file");
	mnfresourceFile.setAttribute("href" , fileHREF);
	mnfresource.appendChild(mnfresourceFile);
	return mnfresource	;
}


</script>

</head>
<body onload="fillNavigation();">
<textarea style="width:100%;height:100%" name="gnrtXML"></textarea>
		<div CLASS="maindiv" ID="maindiv">
					<div class="outerborder">
				<div CLASS="topbar"></div></div>
		
		</div>
</body>
</html>

