<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 1;
var intPage       = 1;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css">
			<link rel="stylesheet" type="text/css" href="../../style/grid.css">
				<link rel="stylesheet" type="text/css" href="../../style/cell.css">
					<link rel="stylesheet" type="text/css" href="../../style/content.css">
						<link rel="stylesheet" type="text/css" href="../../style/navigation.css">
							<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
							<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

							<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
							</script>
							<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div class="grid1x5">
						<div class="celldark3x3">
							<div class="instriconsm" style="LEFT: 164px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="MARGIN-LEFT: 10px;PADDING-RIGHT: 27px;MARGIN-TOP: 8px;">
Switch to edit mode in the e-CMS to update the text here.<P>This text remains on screen and introduces the topic.</P>

							</div>
						</div>
					</div>
					<div class="grid1x1">
						<div class="cell12x4" style="BACKGROUND-COLOR: #FFFFFF">
<div  onclick="showFeedback(1);completed = true;" style="cursor:hand;text-align:center;position:absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); width:128px;height:30px;line-height:12px;padding-top:3px;
background-color:#ffffff;LEFT: 0px; TOP: 134px; font-family:Verdana; font-size:8pt;font-weight:bold;text-decoration:underline;">Option A</div>						
<div  onclick="showFeedback(2);completed = true;"  style="cursor:hand;text-align:center;position:absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); width:128px;height:30px;line-height:12px;padding-top:3px;
background-color:#ffffff;LEFT: 129px; TOP: 134px; font-family:Verdana; font-size:8pt;font-weight:bold;text-decoration:underline;">Option B</div>						
<div  onclick="showFeedback(3);completed = true;"  style="cursor:hand;text-align:center;position:absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); width:128px;height:30px;line-height:12px;padding-top:3px;
background-color:#ffffff;LEFT: 258px; TOP: 134px; font-family:Verdana; font-size:8pt;font-weight:bold;text-decoration:underline;">Option C</div>						
<div   onclick="showFeedback(4);completed = true;" style="cursor:hand;text-align:center;position:absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); width:128px;height:30px;line-height:12px;padding-top:3px;
background-color:#ffffff;LEFT: 387px; TOP: 134px; font-family:Verdana; font-size:8pt;font-weight:bold;text-decoration:underline;">Option D</div>						
<div   onclick="showFeedback(5);completed = true;" style="cursor:hand;text-align:center;position:absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); width:129px;height:30px;line-height:12px;padding-top:3px;
background-color:#ffffff;LEFT: 516px; TOP: 134px; font-family:Verdana; font-size:8pt;font-weight:bold;text-decoration:underline;">Option E</div>						
<div   onclick="showFeedback(6);completed = true;" style="cursor:hand;text-align:center;position:absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); width:130px;height:30px;line-height:12px;padding-top:3px;
background-color:#ffffff;LEFT: 646px; TOP: 134px; font-family:Verdana; font-size:8pt;font-weight:bold;text-decoration:underline;">Option F</div>						
 





<table cellpadding=0 cellspacing=0 border=0 bgcolor=Black ID="Table2">
<tr>
<td><IMG onclick="showFeedback(1);completed = true;" style="cursor:hand" SRC="image/1_panel_6_images_6_choices_1.jpg" width="128" height="164"></td>
<td><IMG  SRC="image/spacer.gif" width="1" height="164"></td>
<td><IMG onclick="showFeedback(2);completed = true;" style="cursor:hand" SRC="image/1_panel_6_images_6_choices_2.jpg" width="128" height="164"></td>
<td><IMG SRC="image/spacer.gif" width="1" height="164"></td>
<td><IMG onclick="showFeedback(3);completed = true;" style="cursor:hand" SRC="image/1_panel_6_images_6_choices_3.jpg" width="128" height="164"></td>
<td><IMG  SRC="image/spacer.gif" width="1" height="164"></td>
<td><IMG onclick="showFeedback(4);completed = true;" style="cursor:hand" SRC="image/1_panel_6_images_6_choices_4.jpg" width="128" height="164"></td>
<td><IMG SRC="image/spacer.gif" width="1" height="164"></td>
<td><IMG onclick="showFeedback(5);completed = true;" style="cursor:hand" SRC="image/1_panel_6_images_6_choices_5.jpg" width="129" height="164"></td>
<td><IMG SRC="image/spacer.gif" width="1" height="164"></td>
<td><IMG onclick="showFeedback(6);completed = true;" style="cursor:hand" SRC="image/1_panel_6_images_6_choices_6.jpg" width="130" height="164"></td>
</tr>
</table>
						</div>
					</div>
					<!-- Flash Content -->
					<div class="grid4x5" id="fb0">
						<div class="cellmedium9x3">
						<div class="instriconsm" style="LEFT: 5px; TOP: 0px"><img src="../../image/icons/mouse_icon.gif" WIDTH="44" HEIGHT="44"></div>
							<div class="SCROLLDark" style="MARGIN-left: 65px;MARGIN-TOP: 8px;">
							Click on a link to discover more...
							</div>
						</div>
					</div>
					<!-- END Flash Content -->
					<div id="fb1" class="grid4x5" style="display: none">
						<div class="cell9x3">
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLDark" style="MARGIN-LEFT:35px;MARGIN-TOP: 5px;">
								<b>Option A</b><br>
							</div>
							<div class="SCROLLDark" style="MARGIN-LEFT:5px;MARGIN-TOP: 10px;  height:88px;SCROLLBAR-TRACK-COLOR: #FFEAC2;" >
Switch to edit mode in the e-CMS to update the text here. 
<P>This text changes each time you press an option above.</p>					
					</div>
						</div>
					</div>
 



					
					<div id="fb2" class="grid4x5" style="display: none">
						<div class="cell9x3" >
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLDark" style="MARGIN-LEFT:35px;MARGIN-TOP: 5px;">
								<b>Option B</b>
							</div>
							<div class="SCROLLDark" style="MARGIN-LEFT:5px;MARGIN-TOP: 10px;  height:88px;SCROLLBAR-TRACK-COLOR: #FFEAC2;" >
Switch to edit mode in the e-CMS to update the text here. 
<P>This text changes each time you press an option above.</p>
							</div>
						</div>
					</div>
					

					
					
					<div id="fb3" class="grid4x5" style="display: none">
						<div class="cell9x3" >
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLDark" style="MARGIN-LEFT:35px;MARGIN-TOP: 5px;">
								<b>Option C</b>
							</div>
							<div class="SCROLLDark" style="MARGIN-LEFT:5px;MARGIN-TOP: 10px;  height:88px;SCROLLBAR-TRACK-COLOR: #FFEAC2;" >
Switch to edit mode in the e-CMS to update the text here. 
<P>This text changes each time you press an option above.</p>	

							</div>
						</div>
					</div>
					
					

					
					
					<div id="fb4" class="grid4x5" style="display: none">
						<div class="cell9x3" >
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLDark" style="MARGIN-LEFT:35px;MARGIN-TOP: 5px;">
								<b>Option D</b>
							</div>
							<div class="SCROLLDark" style="MARGIN-LEFT:5px;MARGIN-TOP: 10px;  height:88px;SCROLLBAR-TRACK-COLOR: #FFEAC2;" >
							Switch to edit mode in the e-CMS to update the text here. 
<P>This text changes each time you press an option above.</p>					
							</div>
						</div>
					</div>
					
					
					

					
					<div id="fb5" class="grid4x5" style="display: none">
						<div class="cell9x3">
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLDark" style="MARGIN-LEFT:35px;MARGIN-TOP: 5px;">
								<b>Option E</b>
							</div>
							<div class="SCROLLDark" style="MARGIN-LEFT:5px;MARGIN-TOP: 10px;  height:88px;SCROLLBAR-TRACK-COLOR: #FFEAC2;" >
Switch to edit mode in the e-CMS to update the text here. 
<P>This text changes each time you press an option above.</p>							
							</div>
						</div>
					</div>
					
					

					
					
					
<div id="fb6" class="grid4x5" style="display: none">
						<div class="cell9x3" >
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLDark" style="MARGIN-LEFT:35px;MARGIN-TOP: 5px;">
								<b>Option F</b>
							</div>
							<div class="SCROLLDark" style="MARGIN-LEFT:5px;MARGIN-RIGHT:50;MARGIN-TOP: 10px;height:88px;SCROLLBAR-TRACK-COLOR: #FFEAC2; 	" >
Switch to edit mode in the e-CMS to update the text here. 
<P>This text changes each time you press an option above.</p>
							</div>
<div class="instriconsm" style="LEFT: 525px; TOP: 70px;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
						</div>
					</div>					

					
					
					<!--END Feedback Incorrect -->
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
