<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 0;
var intPage       = 4;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../style/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../style/cell.css" />
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

		<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
		</script>
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div class="grid1x1">
						<div class="cellDark6x1" style="padding-left:30px;padding-top:3px;padding-right:10px;">
							<div class="instriconsm" style="LEFT: 8px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight">
Switch to edit mode in the e-CMS to update the text here. This text remains on screen at all times.
							</div>
						</div>
					</div>
					
					<div class="grid7x1" id="fb0">
						<div class="celldark6x7" style="background-image:url(image/3_panels_1_image_9_choices.jpg);">
							<div class="SCROLLLight" style="height:250px;top:10px;padding-right:5px">

							</div>
						</div>
					</div>			
					
					<div class="grid7x1" id="fb1" style="display: none;">
						<div class="celldark6x7" style="">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option A</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">
Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P> 							</div>
						</div>
					</div>			



							
					<div class="grid7x1" id="fb2" style="display: none;">
						<div class="celldark6x7" style="">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option B</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">
Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>							</div>
						</div>
					</div>		
			



					<div class="grid7x1" id="fb3" style="display: none;">
						<div class="celldark6x7">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option C</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">
Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>

							</div>
						</div>
					</div>		






					<div class="grid7x1" id="fb4" style="display: none;">
						<div class="celldark6x7">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option D</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">

Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>				
							</div>
						</div>
					</div>	
					
					
					

					
					


					<div class="grid7x1" id="fb5" style="display: none;">
						<div class="celldark6x7">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option E</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">

Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>						</div>
					</div>	


						</div>

					

					<div class="grid7x1" id="fb6" style="display: none;">
						<div class="celldark6x7">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option F</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">
	Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>

							</div>
						</div>
					</div>
					
					
			






	
					<div class="grid7x1" id="fb7" style="display: none;">
						<div class="celldark6x7">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option G</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">
Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>
 						</div>
						</div>
					</div>			




					<div class="grid7x1" id="fb8" style="display: none;">
						<div class="celldark6x7">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option H</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;padding-right:5px">
Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>

 						</div>
						</div>
					</div>			




					<div class="grid7x1" id="fb9" style="display: none;">
						<div class="celldark6x7">
							<div class="instriconsm" style="LEFT: 5px; TOP: 8px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="SCROLLLight" style="padding-left:30px;padding-top:10px;">
								<b>Option I</b>
							</div>
							<div class="SCROLLDark" style="height:250px;top:10px;margin-right:50px">
Switch to edit mode in the e-CMS to update the text here.<P>This text changes with each option selected.</P>						</div>
<div class="instriconsm" style="LEFT: 328px; TOP: 235px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
						</div>
					</div>		

					
					
					<div class="grid1x2">
						<div class="cell6x6" style="padding-left:10px;">
							<div class="instriconsm" style="LEFT: 328px; TOP: 5px"><img src="../../image/icons/mouse_icon_estart.gif" WIDTH="44" HEIGHT="44" border="0"></div>
							<div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(1);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option A
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(2);completed = true;return false;" href=""  class="Link">			
Option B
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(3);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option C
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(4);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option D
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(5);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option E
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(6);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option F
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(7);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option G
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(8);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option H
</a>
</div>
<div  style="padding-top:10px;">
<a onclick="showFeedback(9);completed = true;return false;" href="" class="Link" style="padding-top:5px;">			
Option I							
</a>							
</div>							
							
							</div>
						</div>
					</div>
					<!-- Right Content -->
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
