<html>
	<head>
		<title>e-Office Safety e-learning</title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 3;
var intSection    = 5;
var intPage       = 3;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/grid.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/cell.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
  </script>
<script LANGUAGE="javascript"><!--
	function flash2click(button) {
		switch(button) {
			case "1": showFeedback(6);break;
			case "2": showFeedback(7);break;
			case "3": showFeedback(8);break;
			case "4": showFeedback(5);break;
		}
	}
//--></script>

  
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1" Summary="Header Information including breadcrumb navigation">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" alt="logo" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"  alt="company logo" alt="logo"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
								<!-- Top Navigation-->
								<script language="javascript">
			<!--
			writeTopMenu();
			//-->
								</script>
								<!-- End of Top Navigation-->
				</div>
<!-- Content Grid -->
<div CLASS="contentgrid">

<!-- TEXT IN THE LEFT -->

<div class="grid1x1">
<div class="celldark5x2" >
<div class="SCROLLLight" style="margin-left:20px;margin-right:40px; margin-top:10px;height:70;">
	Switch to edit mode in the e-CMS to update the text here. This text introduces the e-learning and always remains on the screen.
	</div>
<div class="instriconsm" style="top: 10px; left: 283px"><img src="../../image/icons/feedback_icon.gif" alt="Feedback" WIDTH="22" HEIGHT="22"></div>
</div>
</div>
<div class="grid1x3">
<div class="cell5x5" >
	<div class="TextDarkBold" style="margin-left:20px;margin-right:30px; margin-top:8px;">
		<a tabindex=120>Select from below...</a> 
	</div>
	<div id="d1" class="TextDarkBold" style="margin-left:35px;margin-right:30px; margin-top:10px;cursor:hand" tabindex=130 onClick="showFeedback(1);showFlash(0);functionFlash('flash0','Rewind','');functionFlash('flash0','Play','');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();" onkeypress="showFeedback(1);showFlash(0);functionFlash('flash0','Rewind','');functionFlash('flash0','Play','');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();">
		  <u><//start//>Option 1 ></a></u>
	</div>
	<div id="d2" class="TextDarkBold" style="margin-left:35px;margin-right:30px; margin-top:10px;cursor:hand" tabindex=140 onClick="showFeedback(4);showFlash(1);functionFlash('flash1','Rewind','');functionFlash('flash1','Play','');functionFlash('flash0','GotoFrame','49');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();" onkeypress="showFeedback(4);showFlash(1);functionFlash('flash1','Rewind','');functionFlash('flash1','Play','');functionFlash('flash0','GotoFrame','49');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();"> 
		  <u><//start//>Option 2 ></a></u>
	</div>
	<div class="TextDarkBold" style="margin-left:35px;margin-right:30px; margin-top:10px;cursor:hand" tabindex=150 onClick="showFeedback(5);showFlash(2);functionFlash('flash2','Rewind','');functionFlash('flash2','Play','');functionFlash('flash0','GotoFrame','49');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();"  onkeypress="showFeedback(5);showFlash(2);functionFlash('flash2','Rewind','');functionFlash('flash2','Play','');functionFlash('flash0','GotoFrame','49');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();">
		  <u><//start//>Option 3 ></a></u>
	</div>
	<div class="TextDarkBold" style="margin-left:35px;margin-right:30px; margin-top:10px;cursor:hand" tabindex=160 onClick="showFeedback(9);showFlash(3);functionFlash('flash3','Rewind','');functionFlash('flash3','Play','');functionFlash('flash0','GotoFrame','49');completed=true;setCompleteStatus();"onKeypress="showFeedback(9);showFlash(3);functionFlash('flash3','Rewind','');functionFlash('flash3','Play','');functionFlash('flash0','GotoFrame','49');completed=true;setCompleteStatus();">
		  <u><//start//>Option 4 ></a></u>
	</div>
	<div class="TextDarkBold" style="margin-left:35px;margin-right:30px; margin-top:10px;cursor:hand" tabindex=180 onClick="showFeedback(14);showFlash(4);functionFlash('flash4','Rewind','');functionFlash('flash4','Play','');functionFlash('flash0','GotoFrame','49');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();" onKeypress="showFeedback(14);showFlash(4);functionFlash('flash4','Rewind','');functionFlash('flash4','Play','');functionFlash('flash0','GotoFrame','49');functionFlash('flash3','GotoFrame','53');completed=true;setCompleteStatus();">
		  <u><//start//>Option 5></a></u>
	</div>
	<div class="instriconsm" style="top: 10px; left: 260px"><img src="../../image/icons/mouse_icon.gif" alt="Interaction on page" WIDTH="44" HEIGHT="44"></div>
	<div class="TextDarkNormal" style="margin-left:20px;margin-right:30px; margin-top:10px;">
		<a tabindex=21>Edit the options using the e-CMS.</a>
	</div>
</div>
</div>
<!--END TEXT IN THE LEFT -->

<!-- THE SIGN -->
<div id="fb0">
<div class="grid6x1">
<div class="cell7x7" style="background-image: url(image/2_panels_right_animation_nosteps.jpg)">
</div>
</div>
</div>
<!--END THE SIGN -->


<!--FLASH for Starting a New Program-->
<div id="fd0" style="display: none">
<div class="grid6x1">
<div class="cell7x6">
	<object id="flash0" type="application/x-shockwave-flash"  Title="Flash animation, alternative content provided on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="248" width="451" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/2_panels_right_animation_nosteps_1.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="-1">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="BGColor" VALUE="FFFFFF">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>

</div></div>
</div>
<!--END FLASH for Starting a New Program-->


<!--Starting a New Program FIRST STEP-->
<div id="fb1" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1" >
	<div class="TextDarkNormal" style="margin-left:25px;margin-right:110px; margin-top:2px;">
		<a tabindex=31>Replace this text to describe this step.  Press the [Next] button to edit the next section ...</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=32 onclick="if(!functionFlash('flash0','IsPlaying','')) {functionFlash('flash0','Play','');showFeedback(2);}" style="cursor: hand"  onkeypress="if(!functionFlash('flash0','IsPlaying','')) {functionFlash('flash0','Play','');showFeedback(2);}" style="cursor: hand"></a></div>	
	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Starting a New Program FIRST STEP -->



<!--Starting a New Program SECOND STEP-->
<div id="fb2" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1" >
	<div class="TextDarkNormal" style="margin-left:90px;margin-right:110px; margin-top:2px;">
		<a tabindex=33>… replace this text to describe this step, then edit the next section …</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=34 onclick="if(!functionFlash('flash0','IsPlaying','')) {functionFlash('flash0','Play','');showFeedback(3);completed = true;}" style="cursor: hand" onkeypress="if(!functionFlash('flash0','IsPlaying','')) {functionFlash('flash0','Play','');showFeedback(3);completed = true;}" style="cursor: hand"></a></div>	
	<DIV class=instriconsm style="LEFT: 10px; TOP: 10px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="" border="0" onclick="if(!functionFlash('flash0','IsPlaying','')){showFeedback(1); functionFlash('flash0','TGotoLabel','\'/\', \'screen_0\'');functionFlash('flash0','Play','');}" style="cursor: hand"></DIV>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Starting a New Program SECOND STEP-->

<!--Starting a New Program Third STEP-->
<div id="fb3" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:90px;margin-right:110px; margin-top:2px;">
		<a tabindex=35>… replace this text to describe this final step. </a>
	</div>
	<DIV class=instriconsm style="LEFT: 10px; TOP: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash0','IsPlaying','')){showFeedback(2); functionFlash('flash0','TGotoLabel','\'/\', \'screen_1\'');functionFlash('flash0','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></DIV>		
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Starting a New Program Third STEP-->


<!-- FLASH for Switching between programs -->
<div id="fd1" style="display: none">
<div class="grid6x1">
<div class="cell7x6">
	<object id="flash1" type="application/x-shockwave-flash"  Title="Flash animation, alternative content provided on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="248" width="451" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/2_panels_right_animation_nosteps_2.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="-1">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="BGColor" VALUE="FFFFFF">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>

</div></div>
</div>
<!-- FLASH for Switching between programs -->

<!--  Switching between programs FIRST STEP-->
<div id="fb4" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:25px;margin-right:110px; margin-top:2px;">
		<a tabindex=41>Replace this text to describe this step.</a>
	</div>
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Switching between programs FIRST STEP-->


<!--FLASH for Menu Items-->
<div id="fd2" style="display: none">
<div class="grid6x1">
<div class="cell7x6">
	<object id="flash2" type="application/x-shockwave-flash"  Title="Flash animation, alternative content provided on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="248" width="451" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/2_panels_right_animation_nosteps_3.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="-1">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="BGColor" VALUE="FFFFFF">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>

</div></div>
</div>
<!--END FLASH for Menu Items-->

<!--  Menu Items  FIRST STEP-->
<div id="fb5" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:90px;margin-right:110px; margin-top:2px;">
		<a tabindex=51>Replace this text to describe this step.  Press the [Next] button to edit the next section ...</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=52 onclick="if(!functionFlash('flash2','IsPlaying','')) {functionFlash('flash2','Play','');showFeedback(6);}" style="cursor: hand" onkeypress="if(!functionFlash('flash2','IsPlaying','')) {functionFlash('flash2','Play','');showFeedback(6);}" style="cursor: hand"></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Menu Items  FIRST STEP-->

<!--  Menu Items  SECOND STEP-->
<div id="fb6" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:2px;">
		<a tabindex=53>… replace this text to describe this step, then edit the next section …</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=54 onclick="if(!functionFlash('flash2','IsPlaying','')) {functionFlash('flash2','Play','');showFeedback(7);}" style="cursor: hand" onKeypress="if(!functionFlash('flash2','IsPlaying','')) {functionFlash('flash2','Play','');showFeedback(7);}" style="cursor: hand"></div>	
	<DIV class=instriconsm style="LEFT: 10px; TOP: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash2','IsPlaying','')){showFeedback(5); functionFlash('flash2','TGotoLabel','\'/\', \'screen_0\'');functionFlash('flash2','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></DIV>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Menu Items  SECOND STEP-->

<!--  Menu Items  THIRD STEP-->
<div id="fb7" style="display: none">

<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:2px;">
		<a tabindex=56>… replace this text to describe this step, then edit the next section …</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=56 onclick="if(!functionFlash('flash2','IsPlaying','')) {functionFlash('flash2','Play','');showFeedback(8);}" style="cursor: hand" onKeypress="if(!functionFlash('flash2','IsPlaying','')) {functionFlash('flash2','Play','');showFeedback(8);}" style="cursor: hand"></a></div>	
	<DIV class=instriconsm style="LEFT: 10px; TOP: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash2','IsPlaying','')){showFeedback(6); functionFlash('flash2','TGotoLabel','\'/\', \'screen_1\'');functionFlash('flash2','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></DIV>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Menu Items  THIRD STEP-->


<!--  Menu Items  FOURTH STEP-->
<div id="fb8" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:2px;">
		<a tabindex=58>… replace this text to describe this final step.</a>
	</div>
	<DIV class=instriconsm style="LEFT: 10px; TOP: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash2','IsPlaying','')){showFeedback(7); functionFlash('flash2','TGotoLabel','\'/\', \'screen_2\'');functionFlash('flash2','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></DIV>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Menu Items  FOURTH STEP-->

<!--FLASH for CUT COPY PASTE-->
<div id="fd3" style="display: none">
<div class="grid6x1">
<div class="cell7x6">
	<object id="flash3" type="application/x-shockwave-flash"  Title="Flash animation, alternative content provided on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="248" width="451" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/2_panels_right_animation_nosteps_4.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="-1">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="BGColor" VALUE="FFFFFF">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>

</div></div>
</div>
<!--END FLASH for CUT COPY PASTE-->

<!--  CUT COPY PASTE FIRST STEP-->
<div id="fb9" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:2px;">
		<a tabindex=61>Replace this text to describe this step.  Press the [Next] button to edit the next section ...</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=62 onclick="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(10);}" style="cursor: hand" onkeypress="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(10);}" style="cursor: hand"></a></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END CUT COPY PASTE FIRST STEP-->

<!--  CUT COPY PASTE SECOND STEP-->
<div id="fb10" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:110px;margin-right:110px; margin-top:2px;">
		<a tabindex=63>… replace this text to describe this step, then edit the next section …</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=64 onclick="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(11);}" style="cursor: hand" onkeypress="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(11);}" style="cursor: hand"></a></div>	
	<div class="instriconsm" style="top: 10px; left: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash3','IsPlaying','')){showFeedback(9); functionFlash('flash3','TGotoLabel','\'/\', \'screen_0\'');functionFlash('flash3','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END CUT COPY PASTE SECOND STEP-->


<!--  CUT COPY PASTE THIRD STEP-->
<div id="fb11" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:110px;margin-right:110px; margin-top:2px;">
		<a tabindex=66>… replace this text to describe this step, then edit the next section …</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=67 onclick="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(12);}" style="cursor: hand" onKeypress="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(12);}" style="cursor: hand"></a></div>	
	<div class="instriconsm" style="top: 10px; left: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash3','IsPlaying','')){showFeedback(10); functionFlash('flash3','TGotoLabel','\'/\', \'screen_1\'');functionFlash('flash3','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END CUT COPY PASTE THIRD STEP-->


<!--  CUT COPY PASTE FOURTH STEP-->
<div id="fb12" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:2px;">
		<a tabindex=69>… replace this text to describe this final step.</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=70 onclick="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(13);}" style="cursor: hand" onKeypress="if(!functionFlash('flash3','IsPlaying','')) {functionFlash('flash3','Play','');showFeedback(13);}" style="cursor: hand"></a></div>	
	<div class="instriconsm" style="top: 10px; left: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash3','IsPlaying','')){showFeedback(11); functionFlash('flash3','TGotoLabel','\'/\', \'screen_2\'');functionFlash('flash3','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END CUT COPY PASTE FOURTH STEP-->


<!--  CUT COPY PASTE FIFTH STEP-->
<div id="fb13" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:50px; margin-top:2px;">
		<a tabindex=72>… replace this text to describe this final step.</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash3','IsPlaying','')){showFeedback(12); functionFlash('flash3','TGotoLabel','\'/\', \'screen_3\'');functionFlash('flash3','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END CUT COPY PASTE FIFTH STEP-->

<!--FLASH for Scrolling-->
<div id="fd4" style="display: none">
<div class="grid6x1">
<div class="cell7x6">
	<object id="flash4" type="application/x-shockwave-flash"  Title="Flash animation, alternative content provided on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="248" width="451" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/2_panels_right_animation_nosteps_5.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="-1">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="BGColor" VALUE="FFFFFF">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>

</div></div>
</div>
<!--END FLASH for Scrolling-->


<!--  Scrolling FIRST STEP-->
<div id="fb14" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:2px;">
		<a tabindex=81>Replace this text to describe this step.  Press the [Next] button to edit the next section ...</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=82 onclick="if(!functionFlash('flash4','IsPlaying','')) {functionFlash('flash4','Play','');showFeedback(15);}" onkeypress="if(!functionFlash('flash4','IsPlaying','')) {functionFlash('flash4','Play','');showFeedback(15);}" style="cursor: hand"></a></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Scrolling  FIRST STEP-->


<!-- Scrolling  SECOND STEP-->
<div id="fb15" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:2px;">
		<a tabindex=83>… replace this text to describe this step, then edit the next section …</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=84 onclick="if(!functionFlash('flash4','IsPlaying','')) {functionFlash('flash4','Play','');showFeedback(16);}" style="cursor: hand" onkeypress="if(!functionFlash('flash4','IsPlaying','')) {functionFlash('flash4','Play','');showFeedback(16);}" style="cursor: hand"></a></div>	
	<div class="instriconsm" style="top: 10px; left: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash4','IsPlaying','')){showFeedback(14); functionFlash('flash4','TGotoLabel','\'/\', \'screen_0\'');functionFlash('flash4','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Scrolling  SECOND STEP-->

<!-- Scrolling  THIRD STEP-->
<div id="fb16" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:110px; margin-top:0px;">
		<a tabindex=86>… replace this text to describe this final step.</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 350px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" tabindex=87 onclick="if(!functionFlash('flash4','IsPlaying','')) {functionFlash('flash4','Play','');showFeedback(17);}" onKeypress="if(!functionFlash('flash4','IsPlaying','')) {functionFlash('flash4','Play','');showFeedback(17);}" style="cursor: hand"></a></div>	
	<div class="instriconsm" style="top: 10px; left: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash4','IsPlaying','')){showFeedback(15); functionFlash('flash4','TGotoLabel','\'/\', \'screen_1\'');functionFlash('flash4','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></div>	
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Scrolling  THIRD STEP-->


<!-- Scrolling  FIFTH STEP-->
<div id="fb17" style="display: none">
<!--navigation button at the bottom -->
<div class="grid6x7">
<div class="cellmedium7x1">
	<div class="TextDarkNormal" style="margin-left:70px;margin-right:60px; margin-top:2px;">
		<a tabindex=89>… replace this text to describe this final step.</a>
	</div>
	<div class="instriconsm" style="top: 10px; left: 10px"><IMG style="CURSOR: hand" 
onclick="if(!functionFlash('flash4','IsPlaying','')){showFeedback(16); functionFlash('flash4','TGotoLabel','\'/\', \'screen_2\'');functionFlash('flash4','Play','');}" 
height=19 alt="" src="../../image/buttons/back.gif" width=53 border=0></div>	
	<div class="instriconsm" style="LEFT: 380px; TOP: 0px;cursor:hand;" onclick="return objNav.next();"><IMG src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
</div>
</div>
<!--navigation button at the bottom -->
</div>
<!--END Scrolling  FIFTH STEP-->



</div>
<!-- End Content Grid Div -->




				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>

