<html>
	<head>
		<title>e-Office Safety e-learning</title>
<html lang="en">
<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<meta NAME="keywords" content="e-learning, office safety, health and safety, ergonomics">
<meta NAME="description" CONTENT="e-Office Safety e-learning program.">
<meta NAME="Author" content="e-learning wmb Ltd">

		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 3;
var intSection    = 3;
var intPage       = 2;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/grid.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/cell.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
  </script>
<script LANGUAGE="javascript"><!--
	function flashclick(button) {
		completed = true;
		if (!functionFlash('flash','IsPlaying','')) {
		switch(button) {
			case 'a': showFeedback(2); functionFlash('flash','Play',''); break;
			case 'b': showFeedback(4); functionFlash('flash','Play',''); break;
			case 'c': showFeedback(4); functionFlash('flash','Play',''); break;
		}}
	}
	
//--></script>

  
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body style="BACKGROUND-COLOR: #ffffff">
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1" Summary="Header Information including breadcrumb navigation">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" alt="logo" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"  alt="company logo" alt="logo"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
								<!-- Top Navigation-->
								<script language="javascript">
			<!--
			writeTopMenu();
			//-->
								</script>
								<!-- End of Top Navigation-->
				</div>
<!-- Content Grid -->
<div CLASS="contentgrid">


<div class="grid1x1">
<div class="cell3x7" >
	<div class="TextDarkNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:35px">
		<a tabindex=10>Switch to edit mode in the e-CMS to update this question text.</a>
	</div>
	<div class="TextDarkBold" style="MARGIN-TOP: 25px; MARGIN-LEFT: 15px;margin-right:35px">
		<a tabindex=11>Select the correct option.<br></a>
		<div class="TextLightBold">
<img src="../../image/icons/button_a.gif" width="25" height="25" border="0"  alt="Option A" tabindex=11 onclick=flashclick('a') onkeypress=flashclick('a')  style="margin-left:0px;margin-right:0; margin-top:20px; cursor: hand"></a> - 		
		<img src="../../image/icons/button_b.gif" width="25" height="25" alt="Option B" border="0" tabindex=12 onclick=flashclick('b') onkeypress=flashclick('b')  style="margin-left:0px;margin-right:0; margin-top:2px; cursor: hand"></a> - 
		<img src="../../image/icons/button_c.gif" width="25" height="25" alt="Option C" border="0" tabindex=13 onclick=flashclick('c') onkeypress=flashclick('c') style="margin-left:0px;margin-right:0; margin-top:2px; cursor: hand"></a>
		</b></div></div>
</div>
</div>

<!-- IMAGE IN THE RIGHT MONITOR -->
<div  id="fb1">
<div class="grid10x1">
<div class="celldark3x7" style="background-image: url(image/1_panel_3_steps.jpg)">

</div>
</div>
</div>
<!--END IMAGE IN THE RIGHT MONITOR -->

<div class="grid4x1">
<div class="cell6x7">
<object id="flash" type="application/x-shockwave-flash" Title="Flash object alternative content found on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="290" width="386" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/multichoice_A_correct_2_panels_1.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="0">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>
</div>
</div>




<!-- FEEDBACK CORRECT-->
<div  id="fb2" style="display: none">
<div class="grid10x1">
<div class="cellcorrect3x1">
<div class="TextLightBold" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px"><a tabindex=100>That's correct.</a></div>
<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=21 src="../../image/icons/correct_icon.gif" alt="Correct" width=21></div>
</div>
</div>

<div class="grid10x2">
<div class="cellmedium3x6">
<div class="TextDarkNormal" style="MARGIN-TOP: 20px; MARGIN-LEFT: 15px;margin-right:30px">
	     <a tabindex=101>Switch to edit mode in the e-CMS to update the text here.<p> This text is displayed depending upon the answer given.</p></a>
	</div>
<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
<!--REMOVED FOR OFFICE VERSION <div class="instriconsm" style="LEFT: 100px; TOP: 170px"><IMG src="../../image/icons/mouse_icon.gif" alt="Interaction on page" WIDTH="44" HEIGHT="44"></div>
<div class="instriconsm" style="top: 220px; left: 130px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" onclick="showFeedback(3);" style="cursor: hand"></div>	-->
<div class="instriconsm" style="LEFT: 130px; TOP: 200px;cursor:hand;" onclick="return objNav.next();"><IMG src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
</div>
</div>

</div>
<!--END FEEDBACK CORRECT-->

<!--after push NEXT button on Feedback Correct -->
<div id="fb3" style="display: none">
<div class="grid10x1">
<div class="celldark3x7">
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
	     <//start//>Ensure you can read all
		 characters on the screen
		 clearly.  If this is not possible then decrease 
		 the resolution on your monitor.
		 Using Windows, this can be
		 done by going to <b>Start > Control
		 Panel > Display</b> and changing the
		 resolution as shown.<//break//>
	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 20px; MARGIN-LEFT: 15px;margin-right:60px; cursor: hand" onclick="showFeedback(6)">
	     <b><u>Click here</u></b> for Apple Mac.
	</div>
	<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
	<div class="instriconsm" style="top: 230px; left: 140px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
	<div class="instriconsm" style="top: 260px; left: 13px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="Back" border="0" onclick="showFeedback(2)" style="cursor: hand"></div>	
</div>
</div>

<div class="grid4x1">
<div class="cell6x7">
	<object id="flash1" type="application/x-shockwave-flash" Title="Flash object alternative content found on screen"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="290" width="386" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/multichoice_A_correct_2_panels_2.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="0">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>
</div>
</div>
</div>
<!--after push NEXT button on Feedback Correct -->
<!--Change resolution on an Apple MAC on Feedback Correct-->
<div  id="fb6" style="display: none">
<div class="grid4x1">
<div class="celldark6x7">
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
    <//start//> To change the resolution
	 on an <b>Apple Mac…</b><//break//>
	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:40px">
    <//start//> 1) From the Finder, select
	 menu item: <b>Apple Menu > Control
	 Panels > Monitors<//break//></b>.
	</div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
     <//start//>2) Make sure that the 'Show'
	 pulldown under Resolution says
	 Recommended.<//break//>
	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
     <//start//>3) Single click on your
	 choice, for example 800 x 600.<//break//>
	</div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
     <//start//>4) Close the window.<//break//>
	</div>
	<div class="instriconsm" style="LEFT: 355px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
	<!--REMOVED FOR OFFICE VERSION <div class="instriconsm" style="LEFT: 100px; TOP: 170px"><IMG src="../../image/icons/mouse_icon.gif" alt="Interaction on page" WIDTH="44" HEIGHT="44"></div>
<div class="instriconsm" style="top: 220px; left: 130px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" onclick="showFeedback(3);" style="cursor: hand"></div>	-->
<div class="instriconsm" style="LEFT: 130px; TOP: 200px;cursor:hand;" onclick="return objNav.next();"><IMG src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
</div>
</div>
<div class="grid10x1">
<div class="celldark3x7">
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
	     Switch to edit mode in the e-CMS to update the text here.<p> This text is displayed depending upon the answer given.</p>
	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 20px; MARGIN-LEFT: 15px;margin-right:30px; cursor: hand" onclick="showFeedback(6)">
	     <//start//><b><u>Click here</u></b> for Apple Mac.<//break//>
	</div>
	<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
	<div class="instriconsm" style="top: 230px; left: 140px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
	<div class="instriconsm" style="top: 260px; left: 13px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="Back" border="0" onclick="showFeedback(2)" style="cursor: hand"></div>	
</div>
</div>
</div>
<!--END Change resolution on an Aplle MAC on Feedback Correct -->



<!-- FEEDBACK WRONG-->
<div  id="fb4" style="display: none">
<div class="grid10x1">
<div class="cellincorrect3x1">
<div class="TextLightBold" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px"><a tabindex=220>That's incorrect.</a></div>
<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=22 src="../../image/icons/incorrect_icon.gif" alt="Incorrect" width=21></div>
</div>
</div>

<div class="grid10x2">
<div class="cellmedium3x6">
<div class="TextDarkNormal" style="MARGIN-TOP: 20px; MARGIN-LEFT: 15px;margin-right:30px">
	     <a tabindex=230>Switch to edit mode in the e-CMS to update the text here.<p> This text is displayed depending upon the answer given.</p></a>
	</div>
<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
	<!--REMOVED FOR OFFICE VERSION <div class="instriconsm" style="LEFT: 100px; TOP: 170px"><IMG src="../../image/icons/mouse_icon.gif" alt="Interaction on page" WIDTH="44" HEIGHT="44"></div>
<div class="instriconsm" style="top: 220px; left: 130px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" onclick="showFeedback(3);" style="cursor: hand"></div>	-->
<div class="instriconsm" style="LEFT: 130px; TOP: 200px;cursor:hand;" onclick="return objNav.next();"><IMG src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
</div>
</div>
</div>
<!--END FEEDBACK WRONG-->

<!--after push NEXT button on Feedback Wrong -->
<div id="fb5" style="display: none">
<div class="grid10x1">
<div class="celldark3x7">
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
	     Switch to edit mode in the e-CMS to update the text here.<p> This text is displayed depending upon the answer given.</p>	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 20px; MARGIN-LEFT: 15px;margin-right:30px; cursor: hand" onclick="showFeedback(7)">
	     <//start//><b><u>Click here</u></b> for Apple Mac.<//break//>
	</div>
	<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
	<div class="instriconsm" style="top: 230px; left: 140px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
	<div class="instriconsm" style="top: 260px; left: 13px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="Back" border="0" onclick="showFeedback(4)" style="cursor: hand"></div>	
</div>
</div>

<div class="grid4x1">
<div class="cell6x7">
	<object id="flash4" type="application/x-shockwave-flash" Title="Flash object alternative content found on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="290" width="386" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/multichoice_A_correct_2_panels_2.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="0">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="exactfit">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>
</div>
</div>
</div>
<!--after push NEXT button on Feedback Wrong -->

<!--Change resolution on an Apple MAC on Feedback Wrong -->
<div  id="fb7" style="display: none">
<div class="grid4x1">
<div class="celldark6x7">
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
     <//start//>To change the resolution
	 on an <b>Apple Mac…</b><//break//>
	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:40px">
     <//start//>1) From the Finder, select
	 menu item: <b>Apple Menu > Control
	 Panels > Monitors</b>.<//break//>
	</div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
     <//start//>2) Make sure that the 'Show'
	 pulldown under Resolution says
	 Recommended.<//break//>
	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
     <//start//>3) Single click on your
	 choice, for example 800 x 600.<//break//>
	</div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
     <//start//>4) Close the window.<//break//>
	</div>
	<div class="instriconsm" style="LEFT: 355px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
	<div class="instriconsm" style="top: 230px; left: 140px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
	<div class="instriconsm" style="top: 260px; left: 320px"><img src="../../image/buttons/hide.gif" width="59" height="23" alt="" border="0" onclick="showFeedback(5)" style="cursor: hand"></div>	
</div>
</div>
<div class="grid10x1">
<div class="celldark3x7">
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:30px">
	     Switch to edit mode in the e-CMS to update the text here.<p> This text is displayed depending upon the answer given.</p>
	</div>
	<div class="TextDarkNormal" style="MARGIN-TOP: 20px; MARGIN-LEFT: 15px;margin-right:30px; cursor: hand" onclick="showFeedback(7)">
	     <//start//><b><u>Click here</u></b> for Apple Mac.<//break//>
	</div>
	<div class="instriconsm" style="LEFT: 160px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" alt="Feedback" width=22></div>
	<div class="instriconsm" style="top: 230px; left: 140px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
	<div class="instriconsm" style="top: 260px; left: 13px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="Back" border="0" onclick="showFeedback(4)" style="cursor: hand"></div>	
</div>
</div>
</div>
<!--END Change resolution on an Aplle MAC on Feedback Wrong-->


</div>
<!-- End Content Grid Div -->


				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>

