<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 0;
var intPage       = 1;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../style/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../style/cell.css" />
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

		<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
		</script>
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div class="grid1x1">
						<div class="celldark6x4">
							<div class="instriconsm" style="top: 5px; left: 358px;"><IMG SRC="../../image/icons/feedback_icon.gif"></div>
							<div class="SCROLLLight" style="padding-TOP: 8px;margin-left: 8px;margin-right:35px;line-height:15px; ">
								Switch to edit mode in the e-CMS to update the text here.
<P>This text remains on screen as the options are selected.</P> 
							</div>
						</div>
					</div>
					<div class="grid1x5">
						<div class="cellmedium6x3">
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/question_icon.gif" WIDTH="22" HEIGHT="22"></div>
<div class="instriconsm" style="LEFT: 295px; TOP: 0px"><img src="../../image/icons/mouse_icon.gif" WIDTH="44" HEIGHT="44"></div>
							<div class="SCROLLdark" style="margin-LEFT: 40px;margin-right: 5px; margin-TOP: 10px;">
								<b>Select an option...</b>
								<ul>
									<li>
										<a style="line-height:20px;" href="" onclick="showFeedback(2);return false;" class="Link"
											HIDEFOCUS="true">Option A</a>
									<li>
										<a style="line-height:20px;" href="" onclick="showFeedback(1);completed = true;return false;" class="Link"
											HIDEFOCUS="true">Option B</a>
								</ul>
							</div>
						</div>
					</div>
					<div class="grid7x1" id="fb0">
						<div class="cellmedium6x7"><img src="image/3_panels_3_images_2_choices_1.jpg" WIDTH="386" HEIGHT="290" border="0"></div>
					</div>
					<!--Feedback 1-->
					<div id="fb1" style="display:none;">
					
						<div class="grid7x1">
							<div class="cellmedium6x3">
								<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
								<div class="SCROLLDark" style="margin-LEFT: 30px;height:110px;width:350px;top:8px">
									Switch to edit mode in the e-CMS to update the text here.
<P>This text changes depending upon the option selected.</P> 
									 
								</div>
							</div>
						</div>
						<div class="grid7x4">
								<div class="cellmedium6x4"><img src="image/3_panels_3_images_2_choices_2.jpg" WIDTH="386" HEIGHT="164" border="0"></div>
<div class="instriconsm" style="LEFT: 295px; TOP: 105px ;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>

						</div>		
					</div>
					<!--End Feedback 1-->
					<!--Feedback 2-->
					<div id="fb2" style="display:none;">

						<div class="grid7x1">
								<div class="cellmedium6x4"><img src="image/3_panels_3_images_2_choices_3.jpg" WIDTH="386" HEIGHT="164" border="0"></div>
						</div>
						<div class="grid7x5">
							<div class="cellmedium6x3">
								<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
								<div class="SCROLLDark" style="margin-LEFT: 30px;height:110px;width:350px;top:8px">
Switch to edit mode in the e-CMS to update the text here.
<P>This text changes depending upon the option selected.</P> 
									 
								</div>
							</div>
						</div>
					</div>
					<!--End Feedback 2-->
					<!-- Right Content -->
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
