<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 1;
var intPage       = 4;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../style/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../style/cell.css" />
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

		<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
		</script>
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div id="fb0">
						<div class="grid9x1">
							<div class="cell4x7">
								<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
<div class="instriconsm" style="LEFT: 145px; TOP: 245px"><img src="../../image/icons/mouse_icon.gif" WIDTH="44" HEIGHT="44"></div>
								<div class="instriconsm" style="top: 266px; left: 197px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="" border="0" onclick="showFeedback(1);functionFlash('flash2','TGotoFrame','\'/clip\' , 0');functionFlash('flash2','TPlay','\'/clip\'');"
										style="cursor: hand"></div>
								<div class="SCROLLDark" style="margin-left:35px;margin-top:2px;margin-right:5px;height:240;top:10;">
									<p>在e-CMS下切换到编辑模式，以更新这里的文本。</p>
<p>Flash可以被替换为Flash动画或你选择使用e-CMS的图片。高度是290像素，宽度是516像素。</p>								</div>
							</div>
						</div>
						<div class="grid1x1">
							<div class="cellmedium8x7">
								<OBJECT id="flash1" codeBase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
									height="290" width="516" type="application/x-shockwave-flash" VIEWASTEXT>
									<PARAM NAME="_cx" VALUE="15372">
									<PARAM NAME="_cy" VALUE="7673">
									<PARAM NAME="FlashVars" VALUE="15372">
									<PARAM NAME="Movie" VALUE="flash/1_panels_4_steps_no_branching_1.swf">
									<PARAM NAME="Src" VALUE="flash/1_panels_4_steps_no_branching_1.swf">
									<PARAM NAME="WMode" VALUE="transparent">
									<PARAM NAME="Play" VALUE="1">
									<PARAM NAME="Loop" VALUE="0">
									<PARAM NAME="Quality" VALUE="High">
									<PARAM NAME="SAlign" VALUE="">
									<PARAM NAME="Menu" VALUE="0">
									<PARAM NAME="Base" VALUE="">
									<PARAM NAME="AllowScriptAccess" VALUE="always">
									<PARAM NAME="Scale" VALUE="ExactFit">
									<PARAM NAME="DeviceFont" VALUE="0">
									<PARAM NAME="EmbedMovie" VALUE="0">
									<PARAM NAME="BGColor" VALUE="FFFFFF">
									<PARAM NAME="SWRemote" VALUE="">
								</object>
							</div>
						</div>
					</div>
					<div id="fb1" style="display: none;">
						<div class="grid1x1">
							<div class="cell4x7">
								<div class="instriconsm" style="top: 266px; left: 6px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="" border="0" onclick="showFeedback(0);functionFlash('flash1','TGotoFrame','\'/clip\', 0'); functionFlash('flash1','TPlay','\'/clip\'');"
										style="cursor: hand"></div>
<div class="instriconsm" style="LEFT: 145px; TOP: 245px"><img src="../../image/icons/mouse_icon.gif" WIDTH="44" HEIGHT="44"></div>
								<div class="instriconsm" style="top: 266px; left: 197px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="" border="0" onclick="showFeedback(2);functionFlash('flash3','TGotoFrame','\'/clip\' , 0');functionFlash('flash3','TPlay','\'/clip\'');"
										style="cursor: hand"></div>
								<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
								<div class="SCROLLDark" style="height:170px;margin-left:35px;top:10px;margin-right:5px;height:240;">
									<p>在e-CMS下切换到编辑模式，以更新这里的文本。</p>
<p>Flash可以被替换为Flash动画或你选择使用e-CMS的图片。高度是290像素，宽度是516像素。</p>									</div>
							</div>
						</div>
						<div class="grid5x1">
							<div class="cellmedium8x7">
								<OBJECT id="flash2" codeBase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
									height="290" width="516" type="application/x-shockwave-flash" VIEWASTEXT>
									<PARAM NAME="_cx" VALUE="15372">
									<PARAM NAME="_cy" VALUE="7673">
									<PARAM NAME="FlashVars" VALUE="15372">
									<PARAM NAME="Movie" VALUE="flash/1_panels_4_steps_no_branching_2.swf">
									<PARAM NAME="Src" VALUE="flash/1_panels_4_steps_no_branching_2.swf">
									<PARAM NAME="WMode" VALUE="transparent">
									<PARAM NAME="Play" VALUE="0">
									<PARAM NAME="Loop" VALUE="1">
									<PARAM NAME="Quality" VALUE="High">
									<PARAM NAME="SAlign" VALUE="">
									<PARAM NAME="Menu" VALUE="0">
									<PARAM NAME="Base" VALUE="">
									<PARAM NAME="AllowScriptAccess" VALUE="always">
									<PARAM NAME="Scale" VALUE="ExactFit">
									<PARAM NAME="DeviceFont" VALUE="0">
									<PARAM NAME="EmbedMovie" VALUE="0">
									<PARAM NAME="BGColor" VALUE="FFFFFF">
									<PARAM NAME="SWRemote" VALUE="">
								</object>
							</div>
						</div>
					</div>
					<div id="fb2" style="display: none;">
						<div class="grid1x1">
							<div class="cellmedium8x7">
								<OBJECT id="flash3" codeBase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
									height="290" width="516" type="application/x-shockwave-flash" VIEWASTEXT>
									<PARAM NAME="_cx" VALUE="15372">
									<PARAM NAME="_cy" VALUE="7673">
									<PARAM NAME="FlashVars" VALUE="15372">
									<PARAM NAME="Movie" VALUE="flash/1_panels_4_steps_no_branching_3.swf">
									<PARAM NAME="Src" VALUE="flash/1_panels_4_steps_no_branching_3.swf">
									<PARAM NAME="WMode" VALUE="transparent">
									<PARAM NAME="Play" VALUE="0">
									<PARAM NAME="Loop" VALUE="1">
									<PARAM NAME="Quality" VALUE="High">
									<PARAM NAME="SAlign" VALUE="">
									<PARAM NAME="Menu" VALUE="0">
									<PARAM NAME="Base" VALUE="">
									<PARAM NAME="AllowScriptAccess" VALUE="always">
									<PARAM NAME="Scale" VALUE="ExactFit">
									<PARAM NAME="DeviceFont" VALUE="0">
									<PARAM NAME="EmbedMovie" VALUE="0">
									<PARAM NAME="BGColor" VALUE="FFFFFF">
									<PARAM NAME="SWRemote" VALUE="">
								</object>
							</div>
						</div>
						<div class="grid9x1">
							<div class="cell4x7">
								<div class="instriconsm" style="top: 266px; left: 6px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="" border="0" onclick="showFeedback(1);functionFlash('flash2','TGotoFrame','\'/clip\' , 0');functionFlash('flash2','TPlay','\'/clip\'');"
										style="cursor: hand"></div>
<div class="instriconsm" style="LEFT: 145px; TOP: 245px"><img src="../../image/icons/mouse_icon.gif" WIDTH="44" HEIGHT="44"></div>
								<div class="instriconsm" style="top: 266px; left: 197px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="" border="0" onclick="showFeedback(3);functionFlash('flash4','TGotoFrame','\'/clip\' , 0');functionFlash('flash4','TPlay','\'/clip\'');completed = true;"
										style="cursor: hand"></div>
								<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
								<div class="SCROLLDark" style="height:170px;margin-left:35px;top:10px;margin-right:5px;height:240;">
									<p>在e-CMS下切换到编辑模式，以更新这里的文本。</p>
<p>Flash可以被替换为Flash动画或你选择使用e-CMS的图片。高度是290像素，宽度是516像素。</p>									</div>
							</div>
						</div>
					</div>
					<div id="fb3" style="display: none;">
						<div class="grid1x1">
							<div class="cell4x7">
<div class="instriconsm" style="LEFT: 195px; TOP: 245px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
								<div class="instriconsm" style="top: 266px; left: 6px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="" border="0" onclick="showFeedback(2);functionFlash('flash3','TGotoFrame','\'/clip\' , 0');functionFlash('flash3','TPlay','\'/clip\'');"
										style="cursor: hand"></div>
								<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
								<div class="SCROLLDark" style="height:170px;margin-left:35px;top:10px;margin-right:5px;height:240;">
									<p>在e-CMS下切换到编辑模式，以更新这里的文本。</p>
<p>Flash可以被替换为Flash动画或你选择使用e-CMS的图片。高度是290像素，宽度是516像素。</p>									</div>
							</div>
						</div>
						<div class="grid5x1">
							<div class="cellmedium8x7">
								<OBJECT id="flash4" codeBase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
									height="290" width="516" type="application/x-shockwave-flash" VIEWASTEXT>
									<PARAM NAME="_cx" VALUE="15372">
									<PARAM NAME="_cy" VALUE="7673">
									<PARAM NAME="FlashVars" VALUE="15372">
									<PARAM NAME="Movie" VALUE="flash/1_panels_4_steps_no_branching_4.swf">
									<PARAM NAME="Src" VALUE="flash/1_panels_4_steps_no_branching_4.swf">
									<PARAM NAME="WMode" VALUE="transparent">
									<PARAM NAME="Play" VALUE="1">
									<PARAM NAME="Loop" VALUE="0">
									<PARAM NAME="Quality" VALUE="High">
									<PARAM NAME="SAlign" VALUE="">
									<PARAM NAME="Menu" VALUE="0">
									<PARAM NAME="Base" VALUE="">
									<PARAM NAME="AllowScriptAccess" VALUE="always">
									<PARAM NAME="Scale" VALUE="ExactFit">
									<PARAM NAME="DeviceFont" VALUE="0">
									<PARAM NAME="EmbedMovie" VALUE="0">
									<PARAM NAME="BGColor" VALUE="FFFFFF">
									<PARAM NAME="SWRemote" VALUE="">
								</object>
							</div>
						</div>
					</div>
					<!-- Right Content -->
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
