<html>
	<head>
		<title>Movement</title>
		<meta NAME="keywords" content="e-learning, community safety, e-learning development, local government, Elearning,training,onlne,safety">
		<meta NAME="description" CONTENT="Community Safety SEFEG e-learning program.">
		<meta NAME="Author" content="SEFEG"> 
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 1;
var intPage       = 7;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../style/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../style/cell.css" />
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

	<!-- implement API FUNCTION // This is the customised SEFEG content-->
	<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
	<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
	<!--END implement API FUNCTION -->

		<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page

objNav = new Navigation(intModule , intSection, intPage);

//-->
		</script>
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
			</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!</div>-- Top half with logo and picture -->
					<div class="grid1x1">
						<div class="celldark12x1"">
							
							<div class="instriconsm" style="top: 5px; left: 10px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22" alt="Information"></div>
							<div class="TextLightNormal" style="left:40px;top:4px;width:660px;">
								Take care! The force of a load can be greatly multiplied by sudden or awkward movements. 							</div>
						</div>
					</div>
					<div id="fb0" style="display:inline;">
						<div class="grid1x2">
							<div class="cell6x4" >
								<div style="position:absolute;"><IMG SRC="image/2_panels_1_steps_no_branching_1.gif" width="386" height="164" border="0" alt="Jerky lift"></div>
							</div>
						</div>
						<div class="grid1x6">
							<div class="cell6x2" >
								<div class="instriconsm" style="top: 5px; left: 358px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22" alt="Information"></div>
								<div class="TextDarkNormal" style="margin-top:5px;padding-right:25px;">
									<p>Switch to edit mode in the e-CMS to update the text here.  The image above can be replaced with one of your choice.</p>								</div>
							</div>
						</div>
						<div class="grid7x2">
							<div class="cell6x4" >
								<div style="position:absolute;"><IMG SRC="image/2_panels_1_steps_no_branching_2.gif" width="386" height="164" border="0" alt="3 stage lift"></div>
								
							</div>
						</div>
						<div class="grid7x6">
							<div class="cell6x2" >
								<div class="instriconsm" style="top: 5px; left: 358px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22" alt="Information"></div>
								<div class="TextDarkNormal" style="margin-top:5px;padding-right:30px;">
									<p>Switch to edit mode in the e-CMS to update the text here.  The image above can be replaced with one of your choice.</p>																		
								</div>
<div class="instriconsm" style="cursor:pointer;left: 325px;top:60px;" onclick="showFeedback(1);setIncompleteTimeout();"><IMG src="../../image/buttons/next.gif" alt="Next" width="53" height="19" ></div>
							</div>
						</div>
					</div>
					<div id="fb1" style="display:none;">
						<div class="grid1x2">
							<div class="cell6x4" >
								<div style="position:absolute;"><IMG SRC="image/2_panels_1_steps_no_branching_3.gif" width="386" height="164" border="0" alt="Small steps"></div>
								
							</div>
						</div>
						<div class="grid1x6">
							<div class="cell6x2" >
								<div class="instriconsm" style="top: 5px; left: 358px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22" alt="Information"></div>
								<div class="SCROLLdark" style="top:5px;height:70px;width:345px;">
									<p>Switch to edit mode in the e-CMS to update the text here.  The image above can be replaced with one of your choice.</p>									</ol>
								</div>
<div class="instriconsm" style="cursor:pointer;left: 5px;top:60px;" onclick="showFeedback(0);"><IMG SRC="../../image/buttons/back.gif" alt="Back" width="53" height="19" border="0"></div>
							</div>
						</div>
						<div class="grid7x2">
							<div class="cell6x4" >
								<div style="position:absolute;"><IMG SRC="image/2_panels_1_steps_no_branching_4.gif" width="386" height="164" border="0" alt="Twisting motion is bad"></div>
							</div>
						</div>
						<div class="grid7x6">
							<div class="cell6x2" >
								<div class="instriconsm" style="top: 5px; left: 358px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22" alt="Information"></div>
								<div class="TextDarkNormal" style="margin-top:5px;padding-right:30px;">
									<p>Switch to edit mode in the e-CMS to enter your conclusion text here.  The image above can be replaced with one of your choice.</p>								</div>
								<div class="instriconsm" style="top: 35px; left: 340px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
