<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 0;
var intPage       = 1;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../style/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../style/cell.css" />
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

		<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
		</script>
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div class="grid1x1">
						<div class="celldark8x1" style="padding-TOP: 0px">
							<div class="instriconsm" style="top: 3px; left: 490px;"><IMG SRC="../../image/icons/feedback_icon.gif"></div>
							<div class="SCROLLLight" style="margin-left: 5px;margin-right:20px;line-height:12px; ">
								<p>Switch to edit mode in the e-CMS to replace the text here. The FLash files below can be replaced with images or Flash animations (256x164 pixels).</p>							</div>
						</div>
					</div>
					<div id="fb0">
						<div class="grid1x2">
							<div class="cell4x4">
								<object id="flash" type="application/x-shockwave-flash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
									width="256" height="164" VIEWASTEXT>
									<param NAME="Movie" VALUE="flash/5_panels_2_steps_no_branching_1.swf">
									<param NAME="WMode" VALUE="Opaque">
									<param NAME="Play" VALUE="-1">
									<param NAME="Loop" VALUE="-1">
									<param NAME="Quality" VALUE="High">
									<param NAME="Menu" VALUE="0">
									<param NAME="Base" VALUE>
									<param NAME="Scale" VALUE="exactfit">
									<param NAME="EmbedMovie" VALUE="0">
									<param NAME="BGColor" VALUE="FFFFFF">
									<param NAME="SWRemote" VALUE>
									<param NAME="Stacking" VALUE="below">
								</object>
							</div>
						</div>
						<div class="grid5x2">
							<div class="cell4x4">
							<object id="flash1" type="application/x-shockwave-flash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
									width="256" height="164" VIEWASTEXT>
									<param NAME="Movie" VALUE="flash/5_panels_2_steps_no_branching_2.swf">
									<param NAME="WMode" VALUE="Opaque">
									<param NAME="Play" VALUE="-1">
									<param NAME="Loop" VALUE="-1">
									<param NAME="Quality" VALUE="High">
									<param NAME="Menu" VALUE="0">
									<param NAME="Base" VALUE>
									<param NAME="Scale" VALUE="exactfit">
									<param NAME="EmbedMovie" VALUE="0">
									<param NAME="BGColor" VALUE="FFFFFF">
									<param NAME="SWRemote" VALUE>
									<param NAME="Stacking" VALUE="below">
								</object>
							</div>
						</div>
						<div class="grid1x6">
							<div class="cellmedium4x2" style="padding-TOP: 3px">
								<div class="SCROLLDark" style="margin-left: 7px;margin-right:0px;">
									<p>Switch to edit mode in the e-CMS to replace the text here. This text will change every time the [Next] button is pressed immediately below.</p>								</div>
							</div>
						</div>
						<div class="grid5x6">
							<div class="cellmedium4x2" style="padding-TOP: 3px;">
<div class="instriconsm" style="top: 58px; left: 198px;cursor:hand;"><IMG SRC="../../image/buttons/next.gif" onclick="showFeedback(1); completed = true;"></div>							
								<div class="SCROLLDark" style="margin-left: 7px;margin-right:0px;">
									<p>Switch to edit mode in the e-CMS to replace the text here. This text will change every time the [Next] button is pressed immediately below.</p>	
								</div>
							</div>
						</div>
						<div class="grid9x1">
							<div class="cellmedium4x7" style="background-image:url(image/5_panels_2_steps_no_branching_3.jpg);">
								
							</div>
						</div>
					</div>
					<div id="fb1" style="display: none;">
						<div class="grid1x2">
							<div class="cell4x4"><object id="flash2" type="application/x-shockwave-flash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
									width="256" height="164" VIEWASTEXT>
									<param NAME="Movie" VALUE="flash/5_panels_2_steps_no_branching_4.swf">
									<param NAME="WMode" VALUE="Opaque">
									<param NAME="Play" VALUE="-1">
									<param NAME="Loop" VALUE="-1">
									<param NAME="Quality" VALUE="High">
									<param NAME="Menu" VALUE="0">
									<param NAME="Base" VALUE>
									<param NAME="Scale" VALUE="exactfit">
									<param NAME="EmbedMovie" VALUE="0">
									<param NAME="BGColor" VALUE="FFFFFF">
									<param NAME="SWRemote" VALUE>
									<param NAME="Stacking" VALUE="below">
								</object>
							</div>
						</div>
						<div class="grid5x2">
							<div class="cell4x4"><IMG SRC="image/5_panels_2_steps_no_branching_5.jpg" width="256" height="164" border="0"></div>
						</div>
						<div class="grid1x6">
							<div class="cellmedium4x2" style="padding-TOP: 3px">
								<div class="SCROLLDark" style="margin-left: 7px;margin-right:0px;">
									<p>Switch to edit mode in the e-CMS to replace the text here. This text will change every time the [Next] button is pressed immediately below.</p>		
								</div>
							</div>
						</div>
						<div class="grid5x6">
							<div class="cellmedium4x2" style="padding-TOP: 3px">
<div class="instriconsm" style="top: 58px; left: 198px;cursor:hand;"><IMG SRC="../../image/buttons/back.gif" onclick="showFeedback(0);functionFlash('flash','Play','')"></div>							
								<div class="SCROLLDark" style="margin-left: 7px;margin-right:0px;">
									<p>Switch to edit mode in the e-CMS to replace the text here. This text will change every time the [Next] button is pressed immediately below.</p>	
								</div>
							</div>
						</div>
						<div class="grid9x1">
							<div class="cell4x7">
								<div class="instriconsm" style="top: 3px; left: 230px;"><IMG SRC="../../image/icons/feedback_icon.gif"></div>
<div class="instriconsm" style="LEFT: 195px; TOP: 235px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
								<div class="SCROLLDark" style="margin-left: 10px;margin-right:30px;margin-top:10px;">
									<p>Switch to edit mode in the e-CMS to replace the concluding text here.</p>	
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<!-- Right Content -->
			</div>
			<!-- End Content Grid Div -->
			<!-- Bottom Bar Division -->
			<div CLASS="bottombar">
				<!-- Main Navigation-->
				<script LANGUAGE="javascript">
				writeMainMenu();
				</script>
				<!-- End of Main Navigation-->
			</div>
			<!-- End Bottom Bar Division -->
		</div>
		<!-- End Outer Border Div -->
		</div> 
		<!-- End Main Div -->
	</body>
</html>
