<html>
	<head>
		<title>e-Office Safety e-learning</title>
		<html lang="en">
<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<meta NAME="keywords" content="e-learning, office safety, health and safety, ergonomics">
<meta NAME="description" CONTENT="e-Office Safety e-learning program.">
<meta NAME="Author" content="e-learning wmb Ltd">
<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 3;
var intSection    = 2;
var intPage       = 1;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/grid.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/cell.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
  </script>

  
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body style="BACKGROUND-COLOR: #ffffff">
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<TABLE id=Table1 cellSpacing=0 cellPadding=0 width=778 border=0>
  <TBODY>
  <TR>
    <TD align=left><ESTART:LOGO contentEditable=false><IMG height=19 
      src="../../image/logo.gif" width=104 vspace=3></ESTART:LOGO></TD>
    <TD align=right><ESTART:COMPANYLOGO contentEditable=false><IMG 
      src="../../image/company_logo.gif"></ESTART:COMPANYLOGO></TD></TR></TBODY></TABLE>								<!-- Top Navigation-->
								<script language="javascript">
			<!--
			writeTopMenu();
			//-->
								</script>
								<!-- End of Top Navigation-->
				</div>
<!-- Content Grid -->
<div CLASS="contentgrid">
<div class="grid1x1">
<div class="cell6x7" style="background-image: url(image/3_1_cloud_man.jpg); background-color:#ffffff">
	<div class="instriconsm" style="top: 10px; left: 356px"><img src="../../image/icons/feedback_icon.gif" alt="Feedback" WIDTH="22" HEIGHT="22"></div>
</div>
</div>

<div id="fb1">
<div class="grid1x1">
<div class="celldark6x7">

	<DIV class=SCROLLLight style="MARGIN-RIGHT: 5px; TOP: 20px; HEIGHT: 210px">Switch to edit mode in the e-CMS to update the text here. <p>This text changes each time you press [Next] button below.</p>
	</DIV>
		<div class="instriconsm" style="top: 220px; left: 280px"><img src="../../image/icons/mouse_icon_estart.gif" alt="Interaction on page" WIDTH="44" HEIGHT="44"></div>
	<div class="instriconsm" style="top: 264px; left: 320px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" a tabindex = 15 onclick="if(!functionFlash('flash','IsPlaying','')){showFeedback(2); functionFlash('flash','Play','');}" onkeypress="if(!functionFlash('flash','IsPlaying','')){showFeedback(2); functionFlash('flash','Play','');}" style="cursor: hand"></a></div>	
</div>
</div>
</div>

<div id="fb2" style="display: none">
<div class="grid1x1">
<div class="celldark6x7">
	<DIV class=SCROLLLight style="MARGIN-RIGHT: 5px; TOP: 20px; HEIGHT: 210px">Switch to edit mode in the e-CMS to update the text here. <p>This text changes each time you press [Next] button below.</p>
	</DIV>
	<div class="instriconsm" style="top: 264px; left: 30px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="Back" border="0" a tabindex = 26 onclick="if(!functionFlash('flash','IsPlaying','')){showFeedback(1);functionFlash('flash','TGotoLabel','\'/\', \'screen_0\'');functionFlash('flash','Play','')}" onkeypress="if(!functionFlash('flash','IsPlaying','')){showFeedback(1);functionFlash('flash','TGotoLabel','\'/\', \'screen_1\'');functionFlash('flash','Play','')}" style="cursor: hand"></a></div> 
	<div class="instriconsm" style="top: 220px; left: 280px"><img src="../../image/icons/mouse_icon_estart.gif" alt="Interaction on page" WIDTH="44" HEIGHT="44"></div>	
	<div class="instriconsm" style="top: 264px; left: 320px"><img src="../../image/buttons/next.gif" width="53" height="19" alt="More" border="0" a tabindex = 25 onclick="if(!functionFlash('flash','IsPlaying','')){showFeedback(3); functionFlash('flash','Play','');completed=true;}" onkeypress="if(!functionFlash('flash','IsPlaying','')){showFeedback(3); functionFlash('flash','Play','');completed=true;}" style="cursor: hand"></a></div>	
</div>
</div>
</div>

<div id="fb3" style="display: none">
<div class="grid1x1">
<div class="celldark6x7">
	<DIV class=SCROLLLight style="MARGIN-RIGHT: 5px; TOP: 20px; HEIGHT: 210px">Switch to edit mode in the e-CMS to update the text here.<p>This text should be the conclusion to the e-learning.</p>
	</DIV>
	<div class="instriconsm" style="top: 230px; left: 320px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
	
	<div class="instriconsm" style="top: 264px; left: 30px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="Back else move to Next Page" border="0" a tabindex = 36 onclick="if(!functionFlash('flash','IsPlaying','')){showFeedback(2);functionFlash('flash','TGotoLabel','\'/\', \'screen_2\'');functionFlash('flash','Play','')}" onkeypress="if(!functionFlash('flash','IsPlaying','')){showFeedback(2);functionFlash('flash','TGotoLabel','\'/\', \'screen_1\'');functionFlash('flash','Play','')}" style="cursor: hand"></a></div>	
</div>
</div>
</div>



<div class="grid7x1">
<div class="celldark6x7">

</div>
</div>


<!-- FLASH -->
<div class="grid7x1"> 
<div class="cell6x7" style="background-color: #ffffff">
	<object id="flash" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" Title="Flash object alternative content found on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="290" width="386" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/1_panel_large_3_steps.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="-1">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="ShowAll">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="BGColor" VALUE="FFFFFF">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>
</div>
</div>

<!-- END FLASH -->




</div>
<!-- End Content Grid Div -->

				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>

