<html>
	<head>
		<title>e-Office Safety e-learning</title>
		<html lang="en">
<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<meta NAME="keywords" content="e-learning, office safety, health and safety, ergonomics">
<meta NAME="description" CONTENT="e-Office Safety e-learning program.">
<meta NAME="Author" content="e-learning wmb Ltd">
<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 3;
var intSection    = 3;
var intPage       = 1;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/grid.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/cell.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
  </script>
<script LANGUAGE="javascript"><!--
var Correct = Array( null , "true" ,null);
var Answers = Array(3);
var itemId;
function flashclick(button) {
	switch(button) {
		case 'a':	itemId = 0;functionFlash('flash','Play',''); break;
		case 'b':	itemId = 1;functionFlash('flash','Play',''); break;
		case 'c':		itemId = 2;functionFlash('flash','Play',''); break;
	}
	addAnswerObj(itemId);
	showAnswer(Answers, Correct, ''  , 2);
}

function addAnswerObj(itemId){
	Answers[itemId] = new Object();
	Answers[itemId].checked = true;
}	
	
	
//--></script>
  
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body style="BACKGROUND-COLOR: #ffffff">
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1" Summary="Header Information including breadcrumb navigation">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" alt="logo" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"  alt="company logo" alt="logo"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
								<!-- Top Navigation-->
								<script language="javascript">
			<!--
			writeTopMenu();
			//-->
								</script>
								<!-- End of Top Navigation-->
				</div>
<!-- Content Grid -->
<div CLASS="contentgrid">

<!-- TEXT IN THE LEFT -->
<div class="grid1x1">
<div class="cell5x2" >
	<div class="TextDarkNormal" style="margin-left:15px;margin-right:15; margin-top:5px;">
		<a tabindex=01>Switch to edit mode in the e-CMS to update this question text.</a>
		<a tabindex=10>
	<div class="TextDarkBold" style="margin-left:0px;margin-right:155; margin-top:-5px;"><br> Select the correct option ...</div>
		<div class="TextLightNormal" style="margin-left:150px;margin-right:15; margin-top:-25px;">
<img src="../../image/icons/button_a.gif" width="25" height="25" border="0"  alt="Select 'a'" tabindex=11 onclick=flashclick('a') onkeypress=flashclick('a')  style="margin-left:0px;margin-right:0; margin-top:-20px; cursor: hand"></a> - 		
		<img src="../../image/icons/button_b.gif" width="25" height="25" alt="Select 'b'" border="0" tabindex=12 onclick=flashclick('b') onkeypress=flashclick('b')  style="margin-left:0px;margin-right:0; margin-top:2px; cursor: hand"></a> - 
		<img src="../../image/icons/button_c.gif" width="25" height="25" alt="Select 'c'" border="0" tabindex=13 onclick=flashclick('c') onkeypress=flashclick('c') style="margin-left:0px;margin-right:0; margin-top:2px; cursor: hand"></a>
		</b>
	</div></div>
</div>
</div>
<!--END TEXT IN THE LEFT -->

<!-- IMG MONITOR IN THE RIGHT -->
<div  id="fb1">
<div class="grid6x1">
<div class="celldark7x7" style="background-image: url(image/multichoice_B_correct_4_panels.jpg)">
</div>
</div>
</div>
<!-- IMG MONITOR IN THE RIGHT -->


<!-- FLASH -->
<div class="grid1x3"> 
<div class="cell5x5">
	<object id="flash" type="application/x-shockwave-flash" Title="Flash object alternative content found on screen" Title="Flash object alternative content found on screen" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" height="206" width="321" VIEWASTEXT>
	<param NAME="Movie" VALUE="flash/multichoice_B_correct_4_panels_1.swf">
	<param NAME="WMode" VALUE="Opaque">
	<param NAME="Play" VALUE="1">
	<param NAME="Loop" VALUE="-1">
	<param NAME="Quality" VALUE="High">
	<param NAME="Menu" VALUE="-1">
	<param NAME="Base" VALUE>
	<param NAME="Scale" VALUE="ShowAll">
	<param NAME="EmbedMovie" VALUE="0">
	<param NAME="BGColor" VALUE="FFFFFF">
	<param NAME="SWRemote" VALUE>
	<param NAME="Stacking" VALUE="below">
  </object>
</div>
</div>
<!--END FLASH -->



<!-- FEEDBACK correct-->
<div  id="fb2" style="display: none">
<div class="grid6x1">
<div class="cellcorrect7x2">
	<div class="TextLightBold" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px"><a tabindex=200>That's correct.</a></div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:40px">
	     <a tabindex=201>Replace this text with information relevant to the answer given.</a></div>
	<div class="instriconsm" style="LEFT: 420px; TOP: 8px"><IMG height=21 src="../../image/icons/correct_icon.gif" alt="Correct" width=21></div>
</div>
</div>
<div class="grid6x3">
<div class="cellmedium7x4">
	<div class="TextDarkNormal" style="MARGIN-TOP: 2px; MARGIN-LEFT: 15px;margin-right:30px">
	     <a tabindex=202>Switch to edit mode in the e-CMS to replace this text with your own.</a>
	</div>
</div>
</div>

<div class="grid6x6">
<div class="cell7x2" style="scrollbars=no">
<div class="instriconsm" style="top: 10px; left: 390px; scrollbars=no;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
<div class="TextDarkNormal"  onclick="showFeedback(4);" onkeypress="showFeedback(4);" style="margin-left:15px; margin-top:10px;cursor: hand">
		<a tabindex=206><b><u>Click here</u></b></a> <a tabindex=207>for further information</a>
		</div>
</div>
</div>
</div>
<!--END FEEDBACK correct-->



<!-- FEEDBACK WRONG-->
<div  id="fb3" style="display: none">
<div class="grid6x1">
<div class="cellincorrect7x2">
	<div class="TextLightBold" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px"><a tabindex=200>That's incorrect.</a></div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:40px">
	     <a tabindex=201>Replace this text with information relevant to the answer given.</a></div>
	<div class="instriconsm" style="LEFT: 420px; TOP: 8px"><IMG height=22 src="../../image/icons/incorrect_icon.gif" alt="Incorrect" width=21></div>
</div>
</div>
<div class="grid6x3">
<div class="cellmedium7x3">
	<div class="TextDarkNormal" style="MARGIN-TOP: 2px; MARGIN-LEFT: 15px;margin-right:10px">
	     <a tabindex=202>Switch to edit mode in the e-CMS to replace this text with your own.</a>
	</div>
</div>
</div>

<div class="grid6x6">
<div class="cell7x2" >
<div class="instriconsm" style="top: 10px; left: 390px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
<div class="TextDarkNormal" onclick="showFeedback(5);" onkeypress="showFeedback(5);" style="margin-left:15px; margin-top:10px;cursor: hand">
		<b><u><a tabindex=206>Click here</u></b></a> <a tabindex=207>for further information.</a>
		</div>
</div>
</div>
</div>
<!--END FEEDBACK WRONG-->

<!-- bifocal glasses Correct-->
<div  id="fb4" style="display: none">
<div class="grid6x1">
<div class="cellcorrect7x2">
	<div class="TextLightBold" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px"><tabindex=200>That's correct.</a></div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:40px">
	     <a tabindex=201>Replace this text with information relevant to the answer given.</a></div>
	<div class="instriconsm" style="LEFT: 420px; TOP: 8px"><IMG height=22 src="../../image/icons/correct_icon.gif" alt="Correct" width=21></div>
</div>
</div>
<div class="grid6x3">
<div class="cellmedium7x5">
	<div class="TextDarkNormal" style="MARGIN-TOP: 2px; MARGIN-LEFT: 10px;margin-right:10px">
	     <a tabindex=202>Further feedback text should be replaced here using the e-CMS.</a>
	</div>
	<div class="instriconsm" style="top: 175px; left: 13px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="Back" border="0" tabindex=203 onclick="showFeedback(2);" onkeypress="showFeedback(2);" style="cursor: hand"></div>	
</div>
</div>
</div>
<!--  END bifocal glasses -->

<!-- bifocal glasses Wrong-->
<div  id="fb5" style="display: none">
<div class="grid6x1">
<div class="cellincorrect7x2">
	<div class="TextLightBold" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px"><a tabindex=202>That's incorrect.</a></div>
	<div class="TextLightNormal" style="MARGIN-TOP: 10px; MARGIN-LEFT: 15px;margin-right:40px">
	     <a tabindex=203>Switch to edit mode in the e-CMS to replace this text with your own.
	</a></div>
	<div class="instriconsm" style="LEFT: 420px; TOP: 8px"><IMG height=22 src="../../image/icons/incorrect_icon.gif" alt="Incorrect" width=21></div>
</div>
</div>
<div class="grid6x3">
<div class="cellmedium7x5">
	<div class="TextDarkNormal" style="MARGIN-TOP: 2px; MARGIN-LEFT: 10px;margin-right:10px">
	     <a tabindex=600>Further feedback text should be replaced here with the e-CMS.</a>
	</div>
	<div class="instriconsm" style="top: 175px; left: 13px"><img src="../../image/buttons/back.gif" width="53" height="19" alt="back" border="0" onclick="showFeedback(3);" onkeypress="showFeedback(3);" style="cursor: hand"></div>	

</div>
</div>
</div>
<!--  END bifocal glasses -->


</div>
<!-- End Content Grid Div -->


				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>

