.popup
{
	behavior:url(script/popup.htc);
	position: absolute;
	border:1px solid #003366; 
	background:#fff555;
	}


.pTitlebar {
	 width: 100%;
		color: white;
		background-color: blue;
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
		padding: 2px;
		cursor: hand;
		text-decoration: none;
	}


