<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 0;
var intPage       =6;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css">
			<link rel="stylesheet" type="text/css" href="../../style/grid.css">
				<link rel="stylesheet" type="text/css" href="../../style/cell.css">
					<link rel="stylesheet" type="text/css" href="../../style/content.css">
						<link rel="stylesheet" type="text/css" href="../../style/navigation.css">
							<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
							<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

							<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
							</script>
							<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
<style>
.HistContent
{
font-family: Verdana;
text-decoration:underline;
font-size:9pt;
color: Black;
}
.HistContentDate
{
font-weight:bold;
font-family: Verdana;
font-size:8pt;
color: White;
}
</style>	
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO ><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO ><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div class="grid1x1">
						
<div class="celldark12x1"><DIV class=instriconsm style="LEFT: 5px; TOP: 0px"><IMG height=44 src="../../image/icons/mouse_icon.gif" width=44 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 5px; MARGIN-LEFT: 55px; MARGIN-RIGHT: 0px">Use the e-CMS to edit the content below. <B>The dates and labels are defined in the Project Properties (File > Project Properties) and should be edited there since they can be used elsewhere in the project.</B> </DIV></DIV>
					</div>
					<div class="grid1x2">
						
<div class="cell9x6" style="background-image:url(image/timeline.jpg);"><DIV class=HistContent style="LEFT: 29px; WIDTH: 60px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 168px" onclick="showFeedback(1);completed = true;" align=right>
<DIV><B><ESTART:TIMELINE1LABEL >Company Founded</ESTART:TIMELINE1LABEL></B></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV class=HistContentDate><ESTART:TIMELINE1DATE >1933</ESTART:TIMELINE1DATE></DIV></DIV>
<DIV class=HistContent style="LEFT: 113px; WIDTH: 60px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 130px" onclick="showFeedback(2);completed = true;" align=left>
<DIV><B><ESTART:TIMELINE2LABEL >Early Product Success</ESTART:TIMELINE2LABEL></B></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV class=HistContentDate><ESTART:TIMELINE2DATE >1937</ESTART:TIMELINE2DATE></DIV></DIV>
<DIV class=HistContent style="LEFT: 168px; WIDTH: 60px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 184px" onclick="showFeedback(3);completed = true;" align=left>
<DIV class=HistContentDate><ESTART:TIMELINE3DATE >1942</ESTART:TIMELINE3DATE></DIV><IMG height=15 src="image/vline.gif" width=1 border=0> 
<DIV><B><ESTART:TIMELINE3LABEL >The War Years</ESTART:TIMELINE3LABEL></B></DIV></DIV>
<DIV class=HistContent style="LEFT: 215px; WIDTH: 90px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 102px" onclick="showFeedback(4);completed = true;" align=left>
<DIV><B><ESTART:TIMELINE4LABEL >Building on Success</ESTART:TIMELINE4LABEL></B></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV class=HistContentDate><ESTART:TIMELINE4DATE >1950s</ESTART:TIMELINE4DATE></DIV></DIV>
<DIV class=HistContent style="LEFT: 263px; WIDTH: 90px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 145px" onclick="showFeedback(5);completed = true;" align=left>
<DIV class=HistContentDate><ESTART:TIMELINE5DATE >1964</ESTART:TIMELINE5DATE></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV><B><ESTART:TIMELINE5LABEL >Retail Chain Opens</ESTART:TIMELINE5LABEL></B></DIV></DIV>
<DIV class=HistContent style="LEFT: 240px; WIDTH: 100px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 80px" onclick="showFeedback(6);completed = true;" align=right>
<DIV><B><ESTART:TIMELINE6LABEL >Consolidation</ESTART:TIMELINE6LABEL></B></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV class=HistContentDate><ESTART:TIMELINE6DATE >1983</ESTART:TIMELINE6DATE></DIV></DIV>
<DIV class=HistContent style="LEFT: 360px; WIDTH: 100px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 105px" onclick="showFeedback(7);completed = true;" align=left>
<DIV class=HistContentDate><ESTART:TIMELINE7DATE >1984</ESTART:TIMELINE7DATE></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV><B><ESTART:TIMELINE7LABEL >Growth</ESTART:TIMELINE7LABEL></B></DIV></DIV>
<DIV class=HistContent style="LEFT: 330px; WIDTH: 100px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 25px" onclick="showFeedback(8);completed = true;" align=right>
<DIV><B><ESTART:TIMELINE8LABEL >Acme.com Launches</ESTART:TIMELINE8LABEL></B></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV class=HistContentDate><ESTART:TIMELINE8DATE >1999</ESTART:TIMELINE8DATE></DIV></DIV>
<DIV class=HistContent style="LEFT: 446px; WIDTH: 100px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 69px" onclick="showFeedback(9);completed = true;" align=left>
<DIV class=HistContentDate><ESTART:TIMELINE9DATE >2000</ESTART:TIMELINE9DATE></DIV><IMG height=30 src="image/vline.gif" width=1 border=0> 
<DIV><B><ESTART:TIMELINE9LABEL >Acme<BR>re-Launches</ESTART:TIMELINE9LABEL></B></DIV></DIV>
<DIV class=HistContent style="LEFT: 450px; WIDTH: 100px; CURSOR: hand; COLOR: #4d7597; POSITION: absolute; TOP: 5px" onclick="showFeedback(10);completed = true;" align=center>
<DIV><B><ESTART:TIMELINE10LABEL >Planning Ahead</ESTART:TIMELINE10LABEL></B></DIV><IMG height=5 src="image/vline.gif" width=1 border=0> 
<DIV class=HistContentDate style="LINE-HEIGHT: 10px"><ESTART:TIMELINE10DATE >The <BR>Future</ESTART:TIMELINE10DATE></DIV></DIV></DIV>
					</div>
					
					
					
					
					
					
					
					
					
					<div class="grid10x2" id="fb1" >
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE1DATE >1933</ESTART:TIMELINE1DATE></B> <BR><B><ESTART:TIMELINE1LABEL >Company Founded</ESTART:TIMELINE1LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE1DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE1DESCRIPTION> </DIV></DIV>
					</div>
					<div class="grid10x2" id="fb2" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE2DATE >1937</ESTART:TIMELINE2DATE></B> <BR><B><ESTART:TIMELINE2LABEL >Early Product Success</ESTART:TIMELINE2LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE2DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE2DESCRIPTION> </DIV></DIV>
					</div>
					<div class="grid10x2" id="fb3" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE3DATE >1942</ESTART:TIMELINE3DATE></B> <BR><B><ESTART:TIMELINE3LABEL >The War Years</ESTART:TIMELINE3LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE3DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE3DESCRIPTION> </DIV></DIV>
					</div>
					<div class="grid10x2" id="fb4" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE4DATE >1950s</ESTART:TIMELINE4DATE></B> <BR><B><ESTART:TIMELINE4LABEL >Building on Success</ESTART:TIMELINE4LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE4DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE4DESCRIPTION> </DIV></DIV>
					</div>
					<div class="grid10x2" id="fb5" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE5DATE >1964</ESTART:TIMELINE5DATE></B> <BR><B><ESTART:TIMELINE5LABEL >Retail Chain Opens</ESTART:TIMELINE5LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE5DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE5DESCRIPTION> </DIV></DIV>
					</div>
					<div class="grid10x2" id="fb6" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE6DATE >1983</ESTART:TIMELINE6DATE></B> <BR><B><ESTART:TIMELINE6LABEL >Consolidation</ESTART:TIMELINE6LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE6DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE6DESCRIPTION> </DIV></DIV>
					</div>
					
					<div class="grid10x2" id="fb7" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE7DATE >1984</ESTART:TIMELINE7DATE></B> <BR><B><ESTART:TIMELINE7LABEL >Growth</ESTART:TIMELINE7LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE7DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE7DESCRIPTION> </DIV></DIV>
					</div>					
					
						<div class="grid10x2" id="fb8" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE8DATE >1999</ESTART:TIMELINE8DATE></B> <BR><B><ESTART:TIMELINE8LABEL >Acme.com Launches</ESTART:TIMELINE8LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE8DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE8DESCRIPTION> </DIV></DIV>
					</div>						
					
					
		 

						<div class="grid10x2" id="fb9" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE9DATE >2000</ESTART:TIMELINE9DATE></B> <BR><B><ESTART:TIMELINE9LABEL >Acme re-Launches</ESTART:TIMELINE9LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE9DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE9DESCRIPTION> </DIV></DIV>
					</div>	



						<div class="grid10x2" id="fb10" style="display: none;">
						
<div class="celldark3x6" ><DIV class=instriconsm style="LEFT: 5px; TOP: 8px"><IMG height=22 src="../../image/icons/feedback_icon.gif" width=22 border=0></DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 32px; MARGIN-RIGHT: 0px"><B><ESTART:TIMELINE10DATE >The Future</ESTART:TIMELINE10DATE></B> <BR><B><ESTART:TIMELINE10LABEL >Planning Ahead</ESTART:TIMELINE10LABEL></B> </DIV>
<DIV class=SCROLLLight style="MARGIN-TOP: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px"><ESTART:TIMELINE10DESCRIPTION >Edit this text using File > Project Properties menu item.</ESTART:TIMELINE10DESCRIPTION> </DIV>
<DIV class=instriconsm style="LEFT: 115px; TOP: 180px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div></DIV>
					</div>	
					
					<!--END Feedback Incorrect -->
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
