<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 0;
var intPage       = 6;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../style/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../style/cell.css" />
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

		<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
		</script>
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div class="grid1x1">
						<div class="cell7x7"><img src="image/2_panels_1_image.jpg" WIDTH="451" HEIGHT="290" border="0"></div>
					</div>
					<div id="fb0">
						<div class="grid8x1">
							<div class="cellmedium5x7" style="padding-TOP: 10px">
								<div class="instriconsm" style="top: 5px; left: 5px;"><IMG SRC="../../image/icons/feedback_icon.gif"></div>
								<div class="SCROLLLight" style="margin-right:0px;margin-left: 20px;">
									<div class="SCROLLLight" style="padding-TOP: 0px;">
										<b>Title</b></div>
									<div class="SCROLLDark" style="padding-TOP: 8px;">
										Switch to edit mode in the e-CMS to update the text here.<P>
An images or Flash object can be selected to replace the one used on this screen. To do this place your mouse in the area and load in either a background or foreground image or a Flash object by selecting the appropriate button on the toolbar.</P>
									</div>
								</div>
								<div class="instriconsm" style="top: 265px; left: 25px;cursor:hand;"><IMG SRC="../../image/buttons/next.gif" onclick="showFeedback(1);completed = true;"></div>
							</div>
						</div>
					</div>
					<div id="fb1" style="display: none;">
						<div class="grid8x1">
							<div class="cellmedium5x7" style="padding-TOP: 10px">
								<div class="instriconsm" style="top: 5px; left: 5px;"><IMG SRC="../../image/icons/feedback_icon.gif"></div>
								<div style="margin-right:0px;margin-left: 20px;
OVERFLOW: auto;  height:250px;
SCROLLBAR-FACE-COLOR: #93A6B7; 
SCROLLBAR-HIGHLIGHT-COLOR: #455C70;
SCROLLBAR-SHADOW-COLOR: #455C70; 
SCROLLBAR-3DLIGHT-COLOR: #93A6B7; 
SCROLLBAR-ARROW-COLOR: #455C70; 
SCROLLBAR-TRACK-COLOR: #93A6B7; 
SCROLLBAR-DARKSHADOW-COLOR: #93A6B7; 
SCROLLBAR-BASE-COLOR: #93A6B7;
">
									<div class="SCROLLLight" style="padding-TOP: 0px;"><b>Title 2</b></div>
<div class="SCROLLDark" style="padding-TOP: 8px;">									
Switch to edit mode in the e-CMS to update the text here.
									</div>
									
								</div>
								<div class="instriconsm" style="top: 265px; left: 25px;cursor:hand;"><IMG SRC="../../image/buttons/back.gif" onclick="showFeedback(0)"></div>
								
							</div>
						</div>
					</div>
					<!-- Right Content -->
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
