<html>
	<head>
		<title></title>
		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 1;
var intSection    = 0;
var intPage       = 6;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../style/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../style/cell.css" />
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

		<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
		</script>
		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body>
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"></ESTART:COMPANYLOGO></td>
						</tr>
					</table>
					<!-- Top Navigation-->
					<script language="javascript">
			<!--
			writeTopMenu();
			//-->
					</script>
					<!-- End of Top Navigation-->
				</div>
				<!-- Content Grid -->
				<div CLASS="contentgrid">
					<!-- Top half with logo and picture -->
					<div class="grid1x1">
						<div class="cell3x3" ><IMG SRC="image/2_panels_2_image_minimal_branching_2.jpg" border=0></div>
					</div>
					<div class="grid4x1">
						<div class="celldark9x3">
							<div class="instriconsm" style="LEFT: 5px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
  							<div class="TextLightBold" style="margin-left:35px;margin-top:8px;">Part A<br></div>
							<div class="TextLightNormal" style="margin-top:5px;padding-left:10px;">
								Switch to edit mode in the e-CMS to update the text here.<P>Images and Flash objects can be selected to replace those used on this screen. To do this place your mouse in the area and load in either a background or foreground image or a Flash object by selecting the appropriate button on the toolbar.</P>							</div>
						</div>
					</div>
					<div class="grid1x4">
						<div class="cell9x4" style="padding-top:5px;padding-left:10px;">
							<div class="TextDarkBold" style="margin-top:5px;">
								Part B<br>
							</div>
							<div class="TextDarkNormal" style="margin-top:8px;margin-left:40">
								Switch to edit mode in the e-CMS to update the text here.
							<p style="margin-top:8px;">
								Select an option...</P>		
<li ><a href="" onclick="showFeedback(1);completed=true;return false;" class="Link" HIDEFOCUS="true" > Option A</a>
<li ><a href=""  onclick="showFeedback(2);completed=true;return false;" class="Link" HIDEFOCUS="true"> Option B</a>
							</div>
<div class="instriconsm" style="LEFT: 2px; TOP: 115px"><img src="../../image/icons/mouse_icon_estart.gif" WIDTH="44" HEIGHT="44"></div>
						</div>
					</div>
					<div id="fb0" class="grid10x4">
						<div class="cell3x4" ><IMG SRC="image/2_panels_2_image_minimal_branching_1.jpg" border=0></div>
					</div>
					<div id="fb1" class="grid10x4" style="display: none">
						<div class="cellmedium3x4">
							<div class="instriconsm" style="LEFT: 163px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="TextDarkNormal" style="margin-LEFT: 10px;margin-right: 25px; margin-TOP: 10px">
								• Switch to edit mode in the e-CMS to update the text here.
								
							</div>
						</div>
					</div>
					<div id="fb2" class="grid10x4" style="display: none">
						<div class="cellmedium3x4">
							<div class="instriconsm" style="LEFT: 163px; TOP: 5px"><img src="../../image/icons/feedback_icon.gif" WIDTH="22" HEIGHT="22"></div>
							<div class="TextDarkNormal" style="margin-LEFT: 10px;margin-right: 35px; margin-TOP: 10px">
								• Switch to edit mode in the e-CMS to update the text here.
							</div>
							<div class="instriconsm" style="LEFT: 141px; TOP: 118px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
						</div>
					</div>
					<!-- Right Content -->
				</div>
				<!-- End Content Grid Div -->
				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>
