<html>
	<head>
		<title>e-Office Safety e-learning</title>
<html lang="en">
<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<meta NAME="keywords" content="e-learning, office safety, health and safety, ergonomics">
<meta NAME="description" CONTENT="e-Office Safety e-learning program.">
<meta NAME="Author" content="e-learning wmb Ltd">

		<script LANGUAGE="javascript">
<!--
//================ CHANGE THESE ONLY ==================//
// if the page you are editing is 3_4_6 then intModule = 3, intSection = 4, intPage = 6
var intModule     = 3;
var intSection    = 1;
var intPage       = 3;
//=====================================================//
// -->
		</script>
		<link rel="stylesheet" type="text/css" href="../../style/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/grid.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/cell.css"/>
		<link rel="stylesheet" type="text/css" href="../../style/content.css" />
		<link rel="stylesheet" type="text/css" href="../../style/navigation.css" />
		<script LANGUAGE="javascript" SRC="../../script/main.js"></script>
		<script LANGUAGE="javascript" SRC="../../script/nav.js"></script>

<!-- implement API FUNCTION -->
<script LANGUAGE="javascript" SRC="../../script/SCOFunctions.js"></script>
<script LANGUAGE="javascript" SRC="../../script/APIWrapper.js"></script>
<!--END implement API FUNCTION -->

<script LANGUAGE="javascript">
<!--
// Set up Navigation Object for page
objNav = new Navigation(intModule , intSection, intPage);
//-->
  </script>

		<META HTTP-EQUIV="imagetoolbar" CONTENT="no">
	</head>
	<body onload="setIncompleteTimeout();" style="BACKGROUND-COLOR: #ffffff">
		<!-- Start Main Div (Used to position content) -->
		<div CLASS="maindiv" ID="maindiv">
			<!-- Outer Border -->
			<div class="outerborder">
				<div CLASS="topbar">
					<table cellpadding="0" cellspacing="0" border="0" width="778" ID="Table1" Summary="Header Information including breadcrumb navigation">
						<tr>
							<td align="left"><ESTART:LOGO contentEditable=false><img src="../../image/logo.gif" alt="logo" WIDTH="104" HEIGHT="19" vspace="3"></ESTART:LOGO></td>
							<td align="right"><ESTART:COMPANYLOGO contentEditable=false><IMG SRC="../../image/company_logo.gif"  alt="company logo" alt="logo"></ESTART:COMPANYLOGO></td>
						</tr>
					</table><!-- Top Navigation-->								<script language="javascript">
			<!--
			writeTopMenu();
			//-->
								</script>
								<!-- End of Top Navigation-->
				</div>
<!-- Content Grid -->
<div CLASS="contentgrid">

<!--Left Image & Text-->
<div class="grid1x1"> 
<div class="cellmedium4x7">
	<div class="TextDarkNormal" style="margin-left:10px; margin-right:100px;margin-top:20px">
		<a tabindex=10>Switch to edit mode in the e-CMS to update the text here.<P>Images and Flash objects can be selected to replace the image in the centre of the screen.</P></a>
	</div>
</div>
</div>

<!-- Right Image & Text-->
<div class="grid9x1"> 
<div class="cellmedium4x7">
	<div class="TextDarkNormal" style="margin-right:15;margin-left:30px; margin-top:60px">
			<a tabindex=30>Switch to edit mode in the e-CMS to update the text here.</a>
	</div>
	<div class="instriconsm" style="top: 5px; left: 230px"><img src="../../image/icons/feedback_icon.gif" alt="Feedback" WIDTH="22" HEIGHT="22"></div>
<div class="instriconsm" style="top: 165px; left: 200px;cursor:hand;" onclick="return objNav.next();"><img src="../../image/icons/ready_icon.gif"  alt="Ready to move to Next Page" WIDTH="44" HEIGHT="44"></div>
</div>
</div>

<!-- BooTTom Background Image -->
<div class="grid1x6"> 
<div class="cell12x2">
	
</div>
</div>

<!--Bottom Center Text-->
<div class="grid5x6"> 
<div class="celldark4x2" style="border-left: 0px; border-right: 0px; width: 260px; left: -2px">
	<div class="TextLightNormal" style="margin-left:10px; margin-top:2px;">
		<a tabindex=20>Switch to edit mode in the e-CMS to update the text here.</a>
	</div>
</div>
</div>

<!-- IMAGE DESK -->
<div class="grid5x1">
<div class="celldark4x5" style="background-image: url(image/2_4_the_desk_photo.jpg)">
	
</div>
</div>



</div>
<!-- End Content Grid Div -->				<!-- Bottom Bar Division -->
				<div CLASS="bottombar">
					<!-- Main Navigation-->
					<script LANGUAGE="javascript">
				writeMainMenu();
					</script>
					<!-- End of Main Navigation-->
				</div>
				<!-- End Bottom Bar Division -->
			</div>
			<!-- End Outer Border Div -->
		</div>
		<!-- End Main Div -->
	</body>
</html>

