BODY
{
font-size:9pt;font-family:Microsoft Sans Serif;color:#000000;
}
.TextLightBold
{
font-size:9pt;font-family:Verdana;font-style:italic;color:White;overflow:auto;position:relative;
}
.TextLightBoldSmall
{
font-size:8pt;font-family:Microsoft Sans Serif;font-weight:bold;color:White;overflow:auto;position:relative;
}
.TextLightNormal
{
font-size:9pt;font-family:Microsoft Sans Serif;color:White;overflow:auto;position:relative;
}
.TextLightNormalSmall
{
font-size:825pt;font-family:Verdana;color:White;overflow:auto;position:relative;
}
.TextDarkNormal
{
font-size:9pt;font-family:Microsoft Sans Serif;color:Black;overflow:auto;position:relative;
}
.TextDarkNormalSmall
{
font-size:825pt;font-family:Microsoft Sans Serif;font-weight:bold;color:Black;overflow:auto;position:relative;
}
.TextDarkNormal
{
font-size:9pt;font-family:Microsoft Sans Serif;color:Black;overflow:auto;position:relative;margin-left:10px;margin-right:10px;
}
.TextDarkNormalSmall
{
font-size:8pt;font-family:Microsoft Sans Serif;color:Black;overflow:auto;position:relative;margin-left:10px;margin-right:10px;
}
.instriconsm
{
font-size:8.25pt;font-family:Microsoft Sans Serif;color:Black;position:absolute;top:21px;left:5px;
}
.SCROLLLight
{
font-size:9pt;font-family:Microsoft Sans Serif;color:White;overflow:auto;position:relative;margin-left:10px;SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #FFEAC2; SCROLLBAR-SHADOW-COLOR: #FF7900; SCROLLBAR-3DLIGHT-COLOR: #FF7900; SCROLLBAR-ARROW-COLOR: #FF7900; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #FFEAC2; SCROLLBAR-BASE-COLOR: auto; border:0px solid black;
}
.SCROLLDark
{
font-size:9pt;font-family:Microsoft Sans Serif;color:Black;overflow:auto;position:relative;margin-left:10px;SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #FFEAC2; SCROLLBAR-SHADOW-COLOR: #FF7900; SCROLLBAR-3DLIGHT-COLOR: #FF7900; SCROLLBAR-ARROW-COLOR: #FF7900; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #FFEAC2; SCROLLBAR-BASE-COLOR: auto; border:0px solid black;
}
a.Link
{
font-size:9pt;font-family:Microsoft Sans Serif;text-decoration:underline;color:#0E74BA;
}
a:HOVER.Link
{
font-size:9pt;font-family:Microsoft Sans Serif;text-decoration:underline;color:#993366;
}
