BODY
{
background:#ffffff;
margin:0 0 0 0;
}
.contentgrid
{
	left:-1px;
    POSITION: absolute;
    TOP: 89px;

}
.topbar
{
    POSITION: absolute;
    TOP: 0px
}
.bottombar
{
    Z-INDEX: 100;
   left:-1px;
    POSITION: absolute;
    TOP: 383px
}
.maindiv
{
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 0px;
}
.subtitle
{
Z-INDEX: 10;
font-family:Verdana;
font-size:11;
color:black;
vertical-align:baseline;
padding:3px 0px 0px 10px;
border:1px solid black;
background:#C6FF8C;
height:23px;
width:778px; 
background-image: url("../image/nav/subtitle_bg.gif");   
}
.outerborder
{
    POSITION: absolute;
    LEFT: 0px;
    WIDTH: 780px;
    TOP: 0px;
    HEIGHT: 431px;
	background:#FFFFFF;
}
